[2016-03-09 12:06] goldsky opened #5 "get, set and object to array"
I know this API is new , so I've been trying to follow the API by reading the source, and trying to understand how you guys want to build this. I just want to give a recommendation based on my experience of using this API so far. While this is still in its inception, I'm pretty sure some big changes are still allowed.

This API gives the output by returning XML response by breaking it down one met

[2016-03-09 12:57] ffdixon commented on #5
Good feedback!  Your right that it's still in it's early days.  We want BigBlueButton to have the best possible API for PHP.

[2016-03-10 20:36] GhaziTriki commented on #5
Thank you for your feedback @goldsky.

As @ffdixon said this API is still a baby and we want it to grow with a lot of good care.

Here you are talking about two things:

1. Converting object to array for API responses.
2. Store properties in array property instead of using object properties.

I agree the way you described is the fastest way to implement features. However, this API is developed wit

[2016-03-11 05:00] goldsky commented on #5
I think we have different opinion on this.
If the API has different wordings to the parameters, then it makes people reading the documentation **twice**, eg on `create`:
1. the BBB's parameter: `name`
2. this API: `setMeetingName`

while I'm proposing
[code]
which makes less confusion, not even to mention about the difference parameters of `name` and `meetingName` wordings.

I understand your opin

[2016-03-11 06:40] goldsky commented on #5
FYI, I'm building a [MODX CMS](http://modx.com) integration and recreating [my own API](https://github.com/virtudraft/bbbx/blob/master/core/components/bbbx/model/bigbluebutton.class.php) heavily inspired by this API, but based on my purpose.

So for example to create a meeting,
* I only need to pass over the form's fields as an array
* to an [Ajax processor](https://github.com/virtudraft/bbbx/blob

[2016-03-17 14:09] goldsky opened #6 "setConfigXML returns 500 Internal Server Error"
I'm trying to use `setConfigXML` API, but it returns 500 Internal Server Error.

[code]

[What I've set were](https://github.com/virtudraft/bbbx/blob/master/core%2Fcomponents%2Fbbbx%2Fmodel%2Fbigbluebutton.class.php#L211):
1. set the URL up: meetingID=...&configXML=...&checksum=...
2. content-type to `application/x-www-form-urlencoded`
3. post field body as same as the URL ([http_build_query($post

[2016-04-18 16:08] GhaziTriki commented on #6
I don't remember that```setConfigXML``` have been implemented yet in that library.
However can you please check http://docs.bigbluebutton.org/dev/api.html#setconfigxml and tell if you still have the same issue?

[2016-05-20 08:35] lazarait opened #8 "Use of foreach to iterate over a simple Object in GetMeetingInfoResponse"
Hi!
I'am a new user of your project. I think that there is a mistake in the line 69 of the file GetMeetingInfoResponse: `foreach ($this->rawXml->attendees->attendee as $attendeeXml) {`
I guess that you meant `$this->rawXml->attendees` because it is a traversable object.
Besides at the line 68 `$this->attendess = [];`, there is not such property in the class `GetMeetingInfoResponse` and it is never

[2016-05-20 08:42] lazarait opened #9 "Comment in getRecordingsWithXmlResponseArray() of the class BigBlueButton"
Hi!
I think that there is a problem concerning the comment on the method getRecordingsWithXmlResponseArray() of the class BigBlueButton. Indeed, it said that it requires an array
 "/* USAGE:
        $recordingParams = array(
            'meetingId' => '1234',		-- OPTIONAL - comma separate if multiple ids
        );"
However the method expects an input "$recordingParams" of type "GetRecordingsParam

[2016-05-27 14:30] GhaziTriki commented on #8
Thank you for spotting the typo, it has been fixed in https://github.com/bigbluebutton/bigbluebutton-api-php/commit/5b72615dde6b34bf5b6a14fcca696aae7cfd7a3b

However I am not sure about using ```$this->rawXml->attendees``` it makes tests fail the syntax written intially is correct and passes unit tests with success : https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/tests/Response

[2016-05-27 14:32] GhaziTriki commented on #9
The last time you were using the library ```getRecordings``` API was not impltemented to this library. Now it has been implemented, the method ```getRecordingsWithXmlResponseArray```does no more exist as it comes from the old version.

[2016-05-27 14:32] #9 closed

[2016-05-27 14:44] GhaziTriki commented on #6
```setConfigXML``` will be implemented very soon. I will get back to you once implemented.

[2016-05-28 12:50] alameya opened #10 "please remove dev trash from composer require section"
like:
fabpot/php-cs-fixer
fzaninotto/faker
etc
it should be used in require-dev section

[2016-05-30 16:39] GhaziTriki commented on #10
The pacakges you mention are useful for dev; far from being a trash; they are actually in ```require-dev``` and to avoid installing them please use ```composer install --no-dev```

Please check the composer.json again https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/composer.json#L29-L35

[2016-06-08 00:12] alameya commented on #10
👍

[2016-06-08 00:12] #10 closed

[2016-07-10 15:44] thamhut opened #12 "Unhandled curl error: Could not resolve host: api"
I create meeting use api. Please help me!

RuntimeException in BigBlueButton.php line 338:
Unhandled curl error: Could not resolve host: api
in BigBlueButton.php line 338
at BigBlueButton->processXmlResponse('api/create?name=BigBlueButton+API+Meeting&meetingID=bbb-meeting-uid-65&record=false&autoStartRecording=false&allowStartStopRecording=false&checksum=bb83a2a318ccd74d17d7b0bd5b7627ad4fb2a9b4',

[2016-07-15 07:43] scops commented on #12
In laravel 5 you can do php artisan config:clear to make this error disappear. Always do after any php artisan config:cache
Regards

[2016-07-16 08:32] thamhut commented on #12
Thanks scops
It error because "checksum".I fixed it
Thanks!

[2016-07-16 21:37] #12 closed

[2016-08-04 08:24] pdifeo opened #13 "Wrong code in example"
The line

$response = $bbb->createMeeting(createMeetingParams);

must be

$response = $bbb->createMeeting($createMeetingParams);

[2016-08-05 03:26] simo97 commented on #13
i agree

[2016-08-09 22:29] GhaziTriki commented on #13
Fixed in 492a2aa6e2fd006b455c4210b7591248f18d5596

[2016-08-09 22:29] #13 closed

[2017-03-09 14:36] GhaziTriki commented on #6
It is now implemented in PR #18

[2017-03-09 16:16] #6 closed

[2017-03-09 16:17] #8 closed

[2017-03-28 14:29] GhaziTriki opened #20 "Fix SetConfigXMLResponse configToken property"
Replace `token` by `configToken` like suggest in the following forum thread https://groups.google.com/forum/#!msg/bigbluebutton-setup/iO8z2LeEq9M/DpGVgqK8CAAJ

[2018-02-02 07:40] akshayDeshmukh105 commented on #12
@thamhut how you solved this error? where to add checksum?

[2018-02-02 08:13] GhaziTriki commented on #12
@akshayDeshmukh105 Did you configure your API host and salt following those steps https://github.com/bigbluebutton/bigbluebutton-api-php#usage ?

[2018-02-02 08:22] akshayDeshmukh105 commented on #12
Yes i have added 'BBB_SECURITY_SALT ' and 'BBB_SERVER_BASE_URL' in my .env file

[2018-02-28 15:57] zikobad opened #21 "Sample Of présentation pre-upload"
Can you please provide a sample or presentation preupload.
Thanks

[2018-04-21 05:36] geezot commented on #21
Hi
If you want to use preupload presentation you just need to do something like this :
[code]
that's all
and when you start the meeting an xml file is send to server who download the document, you can use repeat addPresentation if you are more than one file to preupload.

**! IMPORTANT TO READ**
But there is a mistake on line 450 in the file CreateMeetingParameters in the method getPresentationsAs

[2018-05-23 16:36] geezot opened #23 "url_encode"
Hello
There is a mistake on line 450 in the file CreateMeetingParameters in the method getPresentationsAsXML
there is a urlencode I know this function is use for special caracters but on the server side there is no urldecode and you can't upload file because you have a message : Malformed URL in BBB log.
If you remove the urlencode everything work fine

Thanks :-)
Fabrice

[2018-05-23 18:06] ffdixon commented on #23
Thanks for reporting this ... we'll take a closer look.

[2018-05-23 18:12] GhaziTriki commented on #23
@geezot can you please provide a file name that raises this error?

[2018-05-24 09:37] geezot commented on #23
Hi @GhaziTriki
All file name raises this error because all the url is encoded, I have described my method and the error in this issue : https://github.com/bigbluebutton/bigbluebutton-api-php/issues/21
the url_encode function replace all special chars by %nn and the bigbluebutton server receive a maformed url.
2 solutions are possible :
- Decode the url on bigbluebutton server
- remove the url_enco

[2018-05-25 08:33] GhaziTriki opened #24 "Implement all 2.0 API features"
- [x] Update API version to 2.0
- [ ] ~~Support PHP 5.6 and above http://php.net/supported-versions.php~~

[2018-06-11 12:57] Siba94 opened #27 "create meeting room parameters"
@ffdixon How can I use the customLogoURL option in creating meeting room API. As mentioned in BigBlueButton documentation there is no option for that.

[2018-06-13 14:51] #23 closed

[2018-06-13 14:53] #21 closed

[2018-08-01 18:35] GhaziTriki commented on #27
@Siba94
Introduced in `2.0.0` release of the API.

https://github.com/bigbluebutton/bigbluebutton-api-php/blob/2.0.0/src/Parameters/CreateMeetingParameters.php#L469

You need to use `$params->setLogo($logoURL);`

[2018-08-01 18:35] #27 closed

[2018-08-09 18:39] clecioantao commented on #12
Hi, I have this same problem in setting up the meeting. Can you tell me the solution, please?

[2018-08-09 23:56] clecioantao opened #28 "Fatal error: Uncaught RuntimeException: Unhandled curl error: Could not resolve host"
Hi, I have this same problem in setting up the meeting.

Fatal error: Uncaught RuntimeException: Unhandled curl error: Could not resolve host: api in /var/www/html/bbb-api/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php:388 Stack trace: #0 /var/www/html/bbb-api/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php(101): BigBlueButton\BigBlueButton->processXmlResponse('a

[2018-08-10 00:17] aghfatehi commented on #28
reference from : https://groups.google.com/forum/#!msg/bigbluebutton-setup/iO8z2LeEq9M/DpGVgqK8CAAJ

/var/www/learning/vendor/bigbluebutton/bigbluebutton-api-php/src/Responses

In the file SetConfigXMLResponse.php correct the line:
public function getToken()
{
 return $this->rawXml->configToken->__toString();
}

 it was 'return $this->rawXml->Token->__toString();'

[2018-08-10 08:15] clecioantao commented on #28
Hi. Thank you!
I made this change, but the error persists...
Below the file SetConfigXMLResponse.php

_namespace BigBlueButton\Responses;
class SetConfigXMLResponse extends BaseResponse
{
    /**
     * @return bool
     */
    public function getToken()
    {
        return $this->rawXml->Token->__toString();
    }
}_

And this is the example code I'm using, I needed to insert ... that was not in

[2018-08-12 17:41] GhaziTriki commented on #12
I guess you moved the issue here #28

[2018-08-12 17:52] GhaziTriki commented on #28
@clecioantao Did you setup your environment variables `BBB_SECRET` and `BBB_SERVER_BASE_URL` ?

[2018-08-12 18:10] clecioantao commented on #28
Yes, in the /etc/apache2/envvars

Em dom, 12 de ago de 2018 14:52, Ghazi Triki <notifications@github.com>
escreveu:

[2018-08-12 18:26] GhaziTriki commented on #28
OK it seems like it well set-up.
Can you please try creating a room without setting a custom configXML and see if you still have this error?
By the way this error is purely PHP and not related to the library. Make sure you BigBlueButton IP is reachable by the library.

[2018-08-12 20:28] GhaziTriki commented on #28
Sorry I mislead you.

The change suggested in the forum thread is wrong. A fixed version of `SetConfigXMLResponse` is available in the latest `dev-master`.

If you debug your `BigBlueButton` instance can you see `securitySecret`and `bbbServerBaseUrl` filled with the values your provided in your `envvars` file?

[2018-08-13 12:52] clecioantao commented on #28
Hello all well?

I am declaring the variables in /etc/apache2/envvars:

export BBB_SECRET = '50d35e393342cde6dad0d65be00XXXXX'
export BBB_SERVER_BASE_URL = 'https://bbb.matizedigital.com.br/bigbluebutton/'

But it is not loading, see in PHP code:

`$ret1 = apache_getenv("SERVER_ADDR");
echo "Server Address " . $ret1 . "<br>";
$ret2 = apache_getenv("BBB_SECRET");
echo "VAR BBB_SECRET " . $ret2 . "<

[2018-08-13 13:07] GhaziTriki commented on #28
Hi @clecioantao,

Please remove white-spaces surrounding the equals sign to look like the following:

[code]

[2018-08-13 15:03] clecioantao commented on #28
Now yes!

In addition to removing the space it is necessary to remove the "https: //"
Thank you very much @GhaziTriki !!!

Regards.

[2018-08-13 15:08] GhaziTriki commented on #28
@clecioantao happy that works. Having http or https works fine with the API. Take a look here https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/.travis.yml#L24
And dont forget the trailing slash.

[2018-08-13 15:08] #28 closed

[2018-08-21 05:25] PrafullaKumarSahu opened #29 "Getting response code FAILED for getMeetingInfo"
I am trying to use credentials from **api-mate** and trying to create metting in localhost using Laravel framework, I am getting FAILED as response code for `getMeetingInfo` and meeting ID for `createMeeting` can you give some idea how I should proceed?

It is actually returning 404 error, that is what I got when I dumped `$data` in `processXmlResponse()` .

[2018-10-04 18:50] IgorDePaula opened #30 "Join Failed"
I tried

[code]

I received

[code]

But I have
https://3v4l.org/V4L68

The method getJoinMeetinURL works fine.

My php version: 7.2
OS: ubuntu 18.04
BBB on docker demo
bigbluebutton-api-php: ~2.0.0

[2018-10-05 07:29] GhaziTriki commented on #30
You didn't store `redirect` and `joinViaHtml5` values into your parameters variable. Your code should be:

[code]

[2018-10-05 08:10] GhaziTriki commented on #20
Fixed in https://github.com/bigbluebutton/bigbluebutton-api-php/commit/fabcf7363b91e2754838a83df94e84a745831d1a

[2018-10-05 08:10] #20 closed

[2018-10-05 08:11] #24 closed

[2018-10-05 09:08] IgorDePaula commented on #30
Thank you, I'll try.

Em sex, 5 de out de 2018 04:29, Ghazi Triki <notifications@github.com>
escreveu:

[2018-10-05 18:02] IgorDePaula commented on #30
I have the same problem.

Em sex, 5 de out de 2018 às 06:08, principe.borodin@gmail.com <
principe.borodin@gmail.com> escreveu:

--
[image: https://certificacao.imasters.com.br/certificates/1484]
<https://certificacao.imasters.com.br/certificates/1484>

[2018-10-08 19:27] GhaziTriki commented on #30
I see `Uncaught Exception: String could not be parsed as XML in...`. Can you please share the HTML response here?

[2018-10-08 19:30] IgorDePaula commented on #30
I shared above.

Em seg, 8 de out de 2018 às 16:27, Ghazi Triki <notifications@github.com>
escreveu:

--
[image: https://certificacao.imasters.com.br/certificates/1484]
<https://certificacao.imasters.com.br/certificates/1484>

[2018-10-10 21:18] GhaziTriki commented on #30
Please check your BigBlueButton server URL. I can see the response string empty.
`SimpleXMLElement->__construct('')`

[2018-10-10 21:20] GhaziTriki commented on #29
@PrafullaKumarSahu Any update?

[2018-10-11 06:29] PrafullaKumarSahu commented on #29
Hello @GhaziTriki , thank you for your reply, I installed big blue button on my server and it worked. I am trying to configure everything as per my requirement, if I will face again some problem, I will definitely let you know.

[2018-10-11 06:29] #29 closed

[2018-10-15 21:01] IgorDePaula commented on #30
The URL is correct, I create a room, I got records, I watch records, but I only got URL for moderator form room, not url for a common user (not moderator).

If I put
[code]

On 390-392 lines I received the xml:

[code]

[2018-10-15 21:01] IgorDePaula commented on #30
This on bbb installation in docker.

[2018-10-15 21:02] IgorDePaula commented on #30
On BigBlueButton\BigBlueButton class (php: "bigbluebutton/bigbluebutton-api-php": "~2.0.0")

[2018-10-16 17:39] GhaziTriki commented on #30
@IgorDePaula could you please share the full PHP file that triggers the error you are describing if possible? I would like to test it on my local server and some other servers.

[2018-10-16 17:49] IgorDePaula commented on #30
https://gist.github.com/IgorDePaula/1ad33b3708dfd28a384a2dc92d0a0702#file-index-php

All scripts, composers versions, docker command.

[2018-10-16 17:53] GhaziTriki commented on #30
Thank you @IgorDePaula, it will help us debug.

[2018-10-16 20:57] GhaziTriki commented on #30
Hello @IgorDePaula,

You have two issues in your code :

1. There is a difference between using `getJoinMeetingURL` and `joinMeeting`, for more information please take a look at the docs https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/INSTALL.md#joining-the-meeting

2. When you are a creating an instance of `JoinMeetingParameters` you are using a password that was not used to cr

[2018-10-16 21:17] IgorDePaula commented on #30
I create the room, but in any time the system call my password.

```Joining the meeting is done in two steps. In the first step we create an instance of CreateMeetingParameters and fill the previously saved $meetingId, then username and role values from POST values.```

The third parameter is a role, not password?

I'll try again, with another vision.

Thank you very much.

PS.: isBreakout in Crea

[2018-10-17 07:02] GhaziTriki commented on #30
`then username and role` : the role is determined by one of the two passwords used to create the meeting. Reading it like that it is unclear, I will update the docs to make it clear.

And using magic methods will not work here, we are fully relying on object paradigms in the `getHTTPQuery` function. Take a look here https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/src/Parameters/

[2018-10-17 15:13] IgorDePaula commented on #30
![captura de tela de 2018-10-17 12-11-09](https://user-images.githubusercontent.com/2833993/47096543-c8c7b200-d205-11e8-8206-136df3a9bb0a.png)
Here says password, and not role, like you said.

https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/src/Parameters/JoinMeetingParameters.php#L88

[2018-10-17 16:22] GhaziTriki commented on #30
@IgorDePaula Thank you for pointing to this point. Docs have now been improved to be clearer. Yes the third parameter is `$password`, the docs are saying this `then username and role values from POST values.`, which means that we are going to read the password from the `$passwords` using the `$HTTP_POST_VARS['role']` key. It should be clear if you read the step before.

I am considering this issue

[2018-10-17 16:22] #30 closed

[2018-10-17 17:00] GhaziTriki commented on #30
@IgorDePaula Some thought I need forgot to share previously.

I have seen you are setting this up `$create->isBreakout = true;` then `$meInfo->freeJoin = true;`

It is very important to know that both of `isBreakout` and `freeJoin` are part of the `create` API, and both of them are part of the breakout rooms creation process. While `freeJoin` is optional, `isBreakout` remains mandatory. In a same

[2018-10-17 17:17] IgorDePaula commented on #30
Sorry, I dono't understand, can you example me?

[2018-10-18 17:11] GhaziTriki commented on #30
@IgorDePaula Please check docs, we moved them to https://github.com/bigbluebutton/bigbluebutton-api-php/wiki and to get a better idea about the join please check the official docs http://docs.bigbluebutton.org/dev/api.html#join

I also point you to https://groups.google.com/forum/#!forum/bigbluebutton-dev for discussions around BigBlueButton development and implementation.

[2018-10-18 17:13] IgorDePaula commented on #30
Thank you very much.

Em qui, 18 de out de 2018 às 14:11, Ghazi Triki <notifications@github.com>
escreveu:

--
[image: https://certificacao.imasters.com.br/certificates/1484]
<https://certificacao.imasters.com.br/certificates/1484>

[2018-10-18 17:15] IgorDePaula commented on #30
I would like suggest use a tleegram group or discord group for a realtime intereactions that email instead.

[2018-11-12 14:09] lilit1141 opened #32 "How to configure for webinar start date"
I want to create bbb webinar with API , which will be accessible, for instance, for tomorrow. Is it possible? Thank you in advance.

[2018-11-19 18:42] GhaziTriki commented on #32
Hello @lilit1141, you need to implement it in your business logic.

[2018-11-19 18:42] #32 closed

[2018-12-02 15:12] sazanof opened #34 "Failed to join (setRedirect = false)"
Hello! I want to get right sessionToken to use it manualy. Code, I used:
[code]
$url I got is
**https://server/bigbluebutton/api/join?meetingID=356a192b7913b04c54574d18c28d46e6395428ab_8f9329121a2844579d346a7f5660372114b08ccf&fullName=Михаил&password=123456&redirect=false&joinViaHtml5=true&checksum=9bd0e52bb2d1cbce9f9ef508365ce80d361ac3b4**
$joinMeetingResponse I got is:
[code]
When i want to open

[2018-12-06 14:08] lilit1141 opened #35 "Change Recording format"
Is it possible convert BBB playback recordings to video format?

[2018-12-06 14:11] ffdixon commented on #35
It's an open enhancement request for BigBlueButton.  Currently, our focus is on releasing an update to the HTML5 client.  We're working hard to move from Flash to pure HTML5.

Duplicate: https://github.com/bigbluebutton/bigbluebutton/issues/1969

[2018-12-06 14:11] #35 closed

[2018-12-06 14:16] lilit1141 commented on #35
In documentation it is written that  **playback is handled by HTML, CSS and Javascript libraries; it is fully available in Mozilla Firefox and Google Chrome(also in Android devices).**

So how we can watch the recording?

Thank you!

[2018-12-06 14:59] ffdixon commented on #35
Try creating a recording on our demo server at

 https://demo.bigbluebutton.org

and then you can view the recording link after the recording is processed.

![image](https://user-images.githubusercontent.com/290351/49591887-aa488200-f93d-11e8-8b79-f90dde1ae9fc.png)

[2018-12-07 10:42] lilit1141 commented on #35
Thank you!

[2018-12-11 11:34] Usick opened #36 "Failed to change status publish records."
There is an error in line https://github.com/bigbluebutton/bigbluebutton-api-php/blob/241253f8f079354b7c572c891d772b16643cb091/src/Parameters/PublishRecordingsParameters.php#L92
There have to be
`'publish' => $this->publish ? 'true' : 'false'`

[2018-12-11 11:40] Usick commented on #36
Error in https://github.com/bigbluebutton/bigbluebutton-api-php/blob/241253f8f079354b7c572c891d772b16643cb091/src/Parameters/PublishRecordingsParameters.php#L92

[2018-12-11 11:44] Usick commented on #36
There is an error in line https://github.com/bigbluebutton/bigbluebutton-api-php/blob/241253f8f079354b7c572c891d772b16643cb091/src/Parameters/PublishRecordingsParameters.php#L92
There have to be
'publish' **=>** $this->publish ? 'true' : 'false'
instead
'publish'**,** $this->publish ? 'true' : 'false'

[2018-12-11 11:56] Usick opened #37 "Failed to change status publish records."
There is an error in line https://github.com/bigbluebutton/bigbluebutton-api-php/blob/241253f8f079354b7c572c891d772b16643cb091/src/Parameters/PublishRecordingsParameters.php#L92
There have to be
`'publish' => $this->publish ? 'true' : 'false'`

[2018-12-11 11:56] #36 closed

[2018-12-28 13:59] GhaziTriki commented on #37
@Usick thank you for spotting it.

It is now fixed in https://github.com/bigbluebutton/bigbluebutton-api-php/commit/aaa8fd1082bcd5f32828c795845e2cfb503c2e06

[2018-12-28 13:59] #37 closed

[2019-01-28 08:30] #5 closed

[2019-01-28 08:33] GhaziTriki commented on #34
@sazanof Did you read the following doc page? https://github.com/bigbluebutton/bigbluebutton-api-php/wiki/API-Join and http://docs.bigbluebutton.org/dev/api.html#join

[2019-01-28 08:43] sazanof commented on #34
Yes, but I dont understand, why did not work session token, which i got, when I use **setRedirect(false)**
I wnt use this token manualy in code, without redirect

"There have been requests if it’s possible to embed the Flash client in a “container”" - it (FALSE) works only with hidden container?

[2019-02-21 12:39] Ezanor commented on #34
@sazanof

Hi, i am trying to do the same thing as you but with the html5 client.
When i set redirect to true i can join the session but i when set

`$joinMeetingParams->setRedirect(false);`

Then i got the response
` object(SimpleXMLElement)#8 (7) {
    ["returncode"]=>
    string(7) "SUCCESS"
    ["messageKey"]=>
    string(18) "successfullyJoined"
    ["message"]=>
    string(29) "You have joine

[2019-03-18 22:02] DemianKost opened #38 "How to make checksum?"
Hi everybody!

I'm trying to create meeting with Laravel. And have problem with checksum, who can write here a small instruction how to make request to create meeting with Laravel?

[2019-03-19 02:40] ffdixon commented on #38
We've not used Laravel before.  But here are the steps to create a valid checksum

  http://docs.bigbluebutton.org/dev/api.html#usage

[2019-03-19 10:06] DemianKost commented on #38
Can you tell me more about it? Because I tried this method - but thisc doesn't work :(

[2019-03-19 10:32] ffdixon commented on #38
Can you be more specific about what you tried (can you share sample code).   Without seeing what you are trying to do (i.e. sample code), it's hard to pinpoint the errors.

[2019-03-19 11:23] DemianKost commented on #38
Here is part of my code to create meeting

`$checksum = sha1('name=Test&meetingID=123&attendeePW=111222&moderatorPW=333444');

        $res = $Client->post('https://myworldtoken.com/bigbluebutton/api/create?name=Test&meetingID=123&attendeePW=111222&moderatorPW=333444&checksum=' . $checksum);

        echo $res->getStatusCode();
        // "200"
        echo $res->getHeader('content-type')[0];

[2019-03-21 12:31] #38 closed

[2019-04-09 10:42] GhaziTriki commented on #34
Thank you @sazanof and @Ezanor for reporting this issue.

This issue is related the required `JSESSIONID` cookie in BigBlueButton 2.0. In 2.2 beta this cookie can be enabling `allowRequestWithoutSession` in `bigbluebutton.properties` in your server.

We are working on fixing very soon.

[2019-04-10 10:50] GhaziTriki commented on #34
@sazanof and @Ezanor I have implemented a fix in this commit https://github.com/bigbluebutton/bigbluebutton-api-php/commit/b741c45223ffa432da418da5e26be2953ddb99c7#diff-e4d1ea337abdcccbabdda40526fca995R358

After you call the `join` API with `redirect=false` the `JSESSIONID` will automatically be stored. You need to access to it `$bbb->getJSessionId()` then put as cookie in your request header bef

[2019-04-20 17:40] #34 closed

[2019-04-20 17:52] sazanof commented on #34
Thank you very much! I'll test as soon as possible. 😊

[2019-04-20 18:40] GhaziTriki commented on #34
@sazanof The fix is in the `2.0.5` release.

[2019-05-13 07:54] PrafullaKumarSahu opened #39 "The response content must be string, object given"
[code]
This is my code and I am getting error

From browser, I can see there is some problem on

[code]
But I can understand, the problem is not there, so how I should debug and solve this issue.

[2019-05-13 10:36] PrafullaKumarSahu commented on #39
Correct code
[code]

[2019-05-13 10:36] #39 closed

[2019-05-25 06:59] guruprasad-ks-23 opened #40 "Unhandled curl error: Connection timed out after 10001 milliseconds"
"message": "Unhandled curl error: Connection timed out after 10001 milliseconds",
"exception": "RuntimeException",
    "file": "/var/www/vhosts/cnjxnb/httpdocs/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php",
    "line": 389,
    "trace": [
        {
            "file": "/var/www/vhosts/cnjxnb/httpdocs/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php",

[2019-06-19 14:13] GhaziTriki commented on #40
@guruprasad-ks-23 Your server seems to be unreachable. Can your script access to your server?

[2019-08-16 15:48] GhaziTriki opened #41 "Support lock settings for create API"
https://github.com/bigbluebutton/bigbluebutton/pull/7116

[2019-09-04 09:47] IAmMukeshKumar opened #42 "How to integrate it with CodeIgniter."
Hi Team,

Please give me some reference to integrate and use this fantastic API with codeIgniter.
I am not finding ways to do it.

[2019-09-04 15:49] IAmMukeshKumar commented on #12
I am getting same problem with codeIgniter. Please write your suggestions.

[2019-10-17 15:04] GhaziTriki commented on #42
Hello @IAmMukeshKumar ,
CodeIgniter uses composer, you just have to install this library as a normal composer dependency.

You will find more by reading the wiki page https://github.com/bigbluebutton/bigbluebutton-api-php/wiki/Installation

[2019-10-17 15:04] #42 closed

[2019-10-29 10:02] GhaziTriki opened #43 "Put return codes in constants"

[2019-10-29 10:03] GhaziTriki commented on #40
Closing this issue. The timeout happens when the server is unreachable.

[2019-10-29 10:03] #40 closed

[2019-11-14 16:28] #41 closed

[2019-11-14 16:41] #43 closed

[2019-11-24 08:06] cahueya opened #49 "How to check if URL / Secret are right?"
Thank you for that very clear API!
I am in the process of developing a BBB management tool for a CMS and with the methods I am currently applying, if the user entered a wrong SECRET in the configurations, they will only receive an unspecific XML error on the attempt to create a meeting.

I would like to have a way of confirming the correctness of the URL/SECRET combination and I thought that the A

[2019-11-24 08:49] ffdixon commented on #49
You could do a [isMeetingRunning](http://docs.bigbluebutton.org/dev/api.html#ismeetingrunning) on a random string.  It would `<messageKey>checksumError</messageKey>` when the checksum test fails.

[2019-11-24 09:07] cahueya commented on #49
Ok, so if the URL/Secret combo is correct but that meeting does not exist, would it return some other specific code to cling a condition to?

[2019-11-24 09:42] cahueya commented on #49
I got it working, thank you! This issue can be closed!

[2019-11-24 09:42] #49 closed

[2019-12-02 11:01] besingamkb opened #50 "api/create not found"
Hi I have digitalocean install of bbb and its working on the demo. but right now i can't create using php api. i got this response from the curl request

[code]

and on the server logs i got this..

[code]

[2019-12-03 12:02] ffdixon commented on #50
Can you install using [bbb-install.sh](https://github.com/bigbluebutton/bbb-install) and let us know if that gets you going on Digital Ocean.  See also the troubleshooting guide

  http://docs.bigbluebutton.org/2.2/troubleshooting.html#help-installing-bigbluebutton

[2019-12-07 06:07] besingamkb commented on #50
following ssl setup fixed the issue thanks.

[2019-12-07 06:07] #50 closed

[2019-12-07 06:09] besingamkb opened #51 "How do you generate checksum on PHP?"
I am integrating webhooks on my bbbserver but I cant create/register a webhook because of checksum error. how did you guys do it on your side? I follow this docs https://docs.bigbluebutton.org/dev/webhooks.html#hookscreate

[2019-12-11 15:44] erenilhan commented on #51
$params => is your create paramaterrs.

[code]

[2019-12-11 21:59] besingamkb commented on #51
@erenilhan what would be the value of `$endpoint`?

[2019-12-12 09:11] erenilhan commented on #51
@besingamkb
I created it directly using php api. that's why I shared that code.
but its like webhooks
For example;
http://yourserver.com/bigbluebutton/api/hooks/create?[parameters]&checksum=[checksum]
`$parameters=['callbackURL'=>'your call back url',
meetingId='your meeting Id',
getRaw=>booelan]`

and after
sha1(callback url.data body.shared secret)

[code]

but i didn't test.

[2019-12-15 23:26] besingamkb commented on #51
@erenilhan i still get `checksumError` please see my code below.

[code]

[2019-12-16 08:46] erenilhan commented on #51
@besingamkb
[code]

    $checksum = sha1('hooks/list' . $queryBuild . env('BBB_SECRET'));

Can you replace sha1($callbackURL....)

 sha1('**hooks/list'**....)
also;

    **$url = env('BBB_SERVER_BASE_URL') . "api/hooks/list?" . $queryBuild . "&checksum=" .$checksum;**
 "?checksum=...." **replace** "&checksum=...."

I did check and everything is fine. Please test and reply.

[2019-12-16 19:06] GhaziTriki commented on #51
Hello @erenilhan

Currently we did not implement webhooks support to this library. But it is feature that we definitely need. Will give you an udpate soon.

[2019-12-17 09:33] GhaziTriki commented on #51
@besingamkb & @erenilhan Webhooks are now implemented into the API. Could you please test the `dev-master` with composer and give use feedback?

[2019-12-23 05:11] besingamkb commented on #51
@GhaziTriki thank you i'll check it it out

[2020-01-08 11:05] besingamkb commented on #51
@GhaziTriki hi sorry i just got cameback to this issue. it seems it is not yet on the documentation. how can we use hook using this api? can you give me some code example

[2020-01-08 11:13] GhaziTriki commented on #51
For creating a webhook you just do

[code]

[2020-01-08 11:13] #51 closed

[2020-01-08 12:50] besingamkb opened #52 "creating hooks but it didn't fire any events"
Hi @GhaziTriki I have created a hooks but it seems to be not working.

[code]

below is the results when I try to list hook so it is registered.
[code]

maybe a firewall something? or a configuration on my bbb server?

[2020-01-08 12:51] besingamkb commented on #51
thank you so much.

[2020-01-08 12:51] GhaziTriki commented on #52
@besingamkb There currently an open issue with `getRaw` https://github.com/bigbluebutton/bigbluebutton/issues/8437

[2020-01-08 12:55] besingamkb commented on #52
@GhaziTriki so I tried what you share on my previous issue.

[code]

so when I try to end a meeting.. it should fire an event right? but still i dont get any http request

[2020-01-16 19:31] emresaracoglu opened #53 "Setting up a timed interview"
Hello,

Thank you for this great project!

Is it possible to determine the duration of a conversation created?
For example, it is desired to create a 60-minute interview. Redirect to custom page after 60 minutes.

[2020-01-16 23:01] emresaracoglu opened #54 "Error: "Warning: SimpleXMLElement""
PHP:

[code]

**Error:**

[code]

What is the reason?
Thank you.

[2020-01-17 01:37] besingamkb opened #55 "Pre-upload slides"
do we have this feature on our create API?

https://docs.bigbluebutton.org/dev/api.html#pre-upload-slides

[2020-01-17 09:59] GhaziTriki commented on #53
Hello @emresaracoglu

Yes you can use `$createMeetingParams->setDuration(60)`. The duration is in minutes. You can check the `duration` parameter in the docs https://docs.bigbluebutton.org/dev/api.html#create.

[2020-01-17 10:01] GhaziTriki commented on #54
Hello @emresaracoglu

Can you please check https://bbb.domain.com/bigbluebutton/api and tell us if it correctly returns an XML response?

[2020-01-17 10:03] GhaziTriki commented on #55
Hello @besingamkb

Yes this feature is implemented in the PHP API client. You can find a sample code in the tests https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/tests/BigBlueButtonTest.php#L101-L157

[2020-01-17 13:36] emresaracoglu commented on #54
Unfortunately, nothing has changed. @GhaziTriki

[2020-01-17 13:40] GhaziTriki commented on #54
@emresaracoglu Can you please check if the output of this method `$bbb->getCreateMeetingUrl($createMeetingParams)` contains the `BBB_SERVER_BASE_URL`. And if you call it from the browser what output do you see?

[2020-01-17 13:50] emresaracoglu commented on #54
Scenario 1:

[code]

Print:

<hr>
Senario 2

[code]

Print:

Line 10:  `echo "Created Meeting with ID: " . $response->getMeetingId();`

[2020-01-17 13:55] GhaziTriki commented on #54
With the `FAILED checksumError You did not pass the checksum security check` I can say that the salt you are giving to the API client is not the same as the one on your server.

[2020-01-18 14:22] besingamkb commented on #55
thank you @GhaziTriki i'll try this.

[2020-01-18 19:46] emresaracoglu commented on #54
I reinstalled twice BBB on the Ubuntu. However, I still have the same problem.

[code]

[2020-01-18 20:14] emresaracoglu opened #56 "BBB running with HAproxy and Cloudflare SSL"
Hello,

I installed BBB on Proxmox and forwarded the ip address with HAproxy but I see the BBP's Nginx page when I go to the domain

![Adsız-1](https://user-images.githubusercontent.com/297968/72669839-4d276700-3a3f-11ea-9d45-c7f6c63e6955.jpg)

How can I overcome this?

[2020-01-18 20:19] emresaracoglu commented on #56
I made the change with `bbb-conf --setip bbb.domain.com` but now I get these errors on console.

![Adsız-2](https://user-images.githubusercontent.com/297968/72669953-91673700-3a40-11ea-8d6b-72eefe51577c.gif)

2 Minutes after:

![Adsız-4](https://user-images.githubusercontent.com/297968/72669954-91673700-3a40-11ea-94d9-36e829603092.gif)

[2020-01-18 20:21] emresaracoglu commented on #56
[code]

[2020-01-18 20:26] ffdixon commented on #54
Are you able to open

 http://192.168.1.113/demo/demo1.jsp

and join a session?  If so, the problem is with the the PHP code making the call.  Do

[code]

and watch the incoming `create` API call.  Does it look correct?  You can use

[code]

to generate valid `create` API calls on your server so you can compare the incoming calls from APIMate and your PHP code and see if there is anything obvious

[2020-01-18 20:30] ffdixon commented on #56
See the recent update in https://github.com/bigbluebutton/bigbluebutton-api-php/issues/54.

For the 500 error, when you type `sudo bbb-conf --check` do you see a checksum mismatch between the API demos and your server?

[code]

Follow the steps given in the output to make the shared secrets match, then try connecting again through the API demo.

[2020-01-18 20:49] emresaracoglu commented on #56
Thank you for answer @ffdixon

[code]

`/var/lib/tomcat7/webapps/demo/bbb_api_conf.jsp` & `/usr/share/bbb-web/WEB-INF/classes/bigbluebutton.properties` files, updated with secret code

[2020-01-18 22:50] ffdixon commented on #56
Hmm ... if your intending to use HAProxy to manage a poll a pool of BigBlueButton servers, there is a level of logic that is missing to manage and track the incoming API calls.  For example, a load balancer would need to track meetings on servers and pass through API calls to the same meeting.

Is it an option to first setup this server without any front-end proxy? The error messages indicate part

[2020-01-20 20:53] emresaracoglu commented on #53
Thank you!

[2020-01-20 20:53] #53 closed

[2020-01-20 21:15] emresaracoglu commented on #54
Sorry, I can't access the registration file

[code]

I can seamlessly connect with [API Mate](https://mconf.github.io/api-mate/), but unfortunately with PHP code I still have problems due to `checksum`.

**Terminal:**
[code]

**PHP # 1:**
<?php
	require_once '/home/---/public_html/vendor/autoload.php';

	use BigBlueButton\BigBlueButton;
	define('BBB_SERVER_BASE_URL','https://bbb6.domain.com/bigblu

[2020-01-20 21:25] ffdixon commented on #54
Fixed a typo -- try this command

[code]

and you should see the API calls come in to the nginx log.

[2020-01-20 21:29] emresaracoglu commented on #56
I am not currently using HAproxy. It runs on Google Cloud. I made the SSL Connection.

[2020-01-20 21:36] emresaracoglu commented on #54
Log:

[code]

[2020-01-20 23:20] emresaracoglu commented on #54
I can't see any errors in the log record. If there are no errors, what could be the reason? Could there be a bug in the PHP code in the package?

[2020-01-21 12:50] ffdixon commented on #54
If you open

[code]

Do you see an error or XML returned from the `create` request?

[2020-01-21 13:33] emresaracoglu commented on #54
I get this warning:

[code]

[2020-01-22 01:16] emresaracoglu commented on #54
How is Checksum created?

Like this?

$str = 'api/create?name=BigBlueButton+API+Meeting&meetingID=bbb-meeting-uid-65&record=false&autoStartRecording=false&allowStartStopRecording=false&webcamsOnlyForModerator=false&lockSettingsDisableCam=false&lockSettingsDisableMic=false&lockSettingsDisablePrivateChat=false&lockSettingsDisablePublicChat=false&lockSettingsDisableNote=false&lockSettingsHideUserList

[2020-01-22 02:20] ffdixon commented on #54
Yes, here is the algorithm to compute the checksum: http://docs.bigbluebutton.org/dev/api.html#usage

[2020-01-22 06:48] emresaracoglu commented on #54
[code]

_Print:_

4ddea71383e8e5b66437c8a466c0b02c91bff44c

`Go to address bar:`

https://bbb.domain.com/bigbluebutton/api/create?name=Test+Meeting&meetingID=abc123&attendeePW=111222&moderatorPW=333444&checksum=4ddea71383e8e5b66437c8a466c0b02c91bff44c

_Result:_

Unfortunately, nothing has changed. I ask that you please. Can you write how I can create a PHP checksum?
How many days have I been deal

[2020-01-22 09:56] GhaziTriki commented on #55
@besingamkb Does it work for you now?

[2020-01-22 12:11] ffdixon commented on #54
Give yourself a moment to read through http://docs.bigbluebutton.org/dev/api.html#usage and verify your doing the steps to create the checksum. The documentation is correct and to answer your question I could cut-and-paste it here, but the above link is better..

[2020-01-22 16:29] emresaracoglu commented on #54
I found the problem.

This value is `this-> securitySecret` empty [[this line](https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/src/BigBlueButton.php#L66)]

If I manually write the secret code to the [value here](https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/src/Util/UrlBuilder.php#L72), it returns the correct `checksum` code.

BigBlueButton.php

[code]

MyPa

[2020-01-22 16:54] GhaziTriki commented on #54
Hello @emresaracoglu,

For security reasons we implemented the API in away to never have the secret committed in the source code. Any way to setup environment variable; file or system variables is good to set `BBB_SECRET` and `BBB_SERVER_BASE_URL`.

Did you read https://github.com/bigbluebutton/bigbluebutton-api-php/wiki/Environment-Variables ?

We also provide a full usage example here https://gi

[2020-01-22 16:54] #54 closed

[2020-01-23 01:26] emresaracoglu commented on #54
@GhaziTriki Is it possible to run in iFrame?

Sorry, unable to read `JSESSIONID ` cookie. So I get 401 access error.

How can I access it with iFrame?
Thank you

[2020-01-23 03:32] emresaracoglu commented on #54
I found it in demo examples. but I encountered a different situation.

Steps:

1. If you create the conversation from the demo_iframe.jsp file.
2. Copy the API path from the demo_iframe.jsp source file.
3. Add it to your own page.
4. Error: You are not receiving `1004`. (so microphone error)

But

1. If you create the API path yourself _(Doesn't matter with PHP or APImate)_
2. Conversation is crea

[2020-01-23 07:11] GhaziTriki commented on #54
Hello @emresaracoglu,

It is great to see that you are asking for help. However the right place to ask for it are the forums. The list of the forums can be found at this link : https://bigbluebutton.org/support/community/

The right forum for you question should be `bigbluebutton-dev`. The community is large and very active and you should get an answer fast. You are welcome to post a new topic.

T

[2020-01-25 17:47] besingamkb commented on #55
yeah. it works thanks @GhaziTriki

[2020-01-25 17:47] #55 closed

[2020-02-05 10:53] kosar501 opened #57 "change meetings config"
After I Create Meeting...I want to dynamically change some of its config like disable desktop sharing.
based on bigbluebutton document I wrote below code which
I get default config
change it
then I set it using setConfig function ...
it successfully done and returned token which I used it to get join url...but when I go to the url and directed to the Conference nothing changed...
![Screenshot_15](

[2020-02-05 14:49] ffdixon commented on #57
The `setConfgXML` was only for the Flash client, and the BigBlueButton project has moved on to the HTML5 client.

Flash is EOL at the end of this year, and is already disappearing from the browsers (the next version of Safari will not have Flash).

So we would recommend not doing any development with the Flash client.   There isn't an equivalent `setConfgXML` for the HTML5 client, but there is opt

[2020-02-05 14:49] #57 closed

[2020-02-05 15:00] kosar501 commented on #57
Thank you so much

[2020-02-27 05:17] rogercong opened #61 "currently unable to handle this request."
Dear all,

Sorry to bother you!  I am a newbie to this.  Anyway, I tried to use this bigbluebutton-api-php, however, i am running into this problem for the past couple of days.  Following the instructions on github, I have created a composer project.  When I use it as:

<?php
require_once './vendor/autoload.php';
$bbb = new BigBlueButton();
$meetingId = $_POST['meeting'];
echo "welcome to $meeting

[2020-03-03 05:50] GhaziTriki commented on #61
@rogercong You did not finish describing your issue. Can you please update it?

[2020-03-03 05:52] GhaziTriki commented on #52
Did you try catching webhooks with https://webhook.site? It did work for me.

[2020-03-12 18:12] rogercong commented on #61
As mentioned in my message, if a person has signed in a conference and went to public chatting, for example, it's very easy for people to press 'back' button, instead of public chat icon.  My question is if it's possible to pop-up a confirm message box for people pressed 'back' button.  This is happening quite often when user use mobile.

[2020-03-15 00:31] ghost opened #63 "404 Not Found - Add Presentation"
Hello, I Used BigBlueButton PHP API for about 1 Month and everything almost Ok
but tonight I tried to create a meeting and my website shows error
After that, I understood that in backend, API recieved 404 - Not Found Error
finnally I Commented below codes and Website work almost correctly
`if (!empty($payload)) {`
               ` //curl_setopt($ch, CURLOPT_HEADER, 0);`
             `   //curl_set

[2020-03-15 02:00] ffdixon commented on #63
Check the Javascript console and network tab in the developer tools for Chrome for errors.

[2020-03-15 07:24] pouyaaofficial commented on #63
after join in the meeting?

[2020-03-15 11:07] pouyaaofficial commented on #63
[Log.log](https://github.com/bigbluebutton/bigbluebutton-api-php/files/4334064/Log.log)
Console Log file Attached to this Answer
in Network Console, there isn't my presentation
All of the Problems are from commenting these codes:
`'Content-type: ' . $contentType,`
`'Content-length: ' . mb_strlen($payload),`
The error was Suddenly, and before it BBB Works Correctly
But Error 404 - Not Found Trouble

[2020-03-16 23:13] Cyb0org commented on #52
@besingamkb Have you installed bbb-webhooks on the BBB server side?
https://docs.bigbluebutton.org/dev/webhooks.html#installation
Don't forget to "bbb-conf --restart".
Webhooks works for me.

[2020-03-26 19:02] SenITS opened #64 "401 Session xxyyzz not found"
I've set up my Working BBB about two weeks ago and a second one integrated in Moodle. Now I try to code my own little Joining-Tool for my custom requirements.
Used the "Full Usage Sample" to code my first example and direct join works well but with setRedirect(false) the URL with the sessionToken doesn't work: "401, not allowed, Session xxyyzz not found"

My Code (with modifyed URLs and Secret):
`

[2020-03-27 07:57] nplesa commented on #28
Hi,

I have same issue about unhandled curl error: Could not resolve host: api", exception: "RuntimeException"..can you tell me what i have to do to solve this problem?

thanks,

[2020-03-27 07:59] GhaziTriki commented on #28
@nplesa Did you read the previous comments and try to solve your issue?

[2020-03-27 08:02] nplesa commented on #28
Yes, i tried removing https from BBB SERVER URL..

[2020-03-27 08:02] nplesa commented on #28
But still i have the error.

[2020-03-27 08:47] nplesa commented on #28
Thank you! Solved here!
With:
php artisan config:cache
php artisan config:clear
Respect!

[2020-04-03 02:11] egorsmkv commented on #64
I have the same problem. Any solution?

[2020-04-07 09:40] SenITS commented on #64
I found no better solution yet, except taking the Direct-Join URL
`echo $bbb->getJoinMeetingURL($joinParams);`
wich in my opinion is a very "unsexy" solution, because of some unencrypted Information in it.

Found this ~1 year old bug:
https://github.com/bigbluebutton/bigbluebutton-api-php/issues/34#issuecomment-481641204
tried to put this "JSESSIONID" in any possible way in to a cookie but no luck

[2020-04-07 12:02] Yurujai opened #69 "Instance of BBB used on test has wrong version"
Hi @GhaziTriki

I was trying to fix test errors. See: https://github.com/bigbluebutton/bigbluebutton-api-php/pull/68

But when i'm trying to fix errors on statusCode responses I see that the instance of BBB that is used on test has a wrong version [1] ( testAPIVersion is broken, expected 2.0.0 and returned 0.9 )

Now, I dont know if its better to fix these test errors or if you can upgrade BBB ins

[2020-04-07 12:30] egorsmkv commented on #64
I also was looking for another solution and had found this repo -- https://github.com/DevinY/bbb-php-api

It works normal but the code is written not so good.

[2020-04-11 05:13] royjr opened #70 "joinMeeting error"
getJoinMeetingURL works great but joinMeeting throws a fatal error
php 7.3

[code]

[code]
[code]
[code]
[code]

[2020-04-13 14:53] davidrojo opened #71 "Error "Node no longer exists" when calling getParticipants() in a Meeting"
When calling `getParticipants()` of a meeting, there is an error in `Attendee` constructor because `$xml->customdata->children()` fails if `customdata` doesn't exists.

`Warning: BigBlueButton\Core\Attendee::__construct(): Node no longer exists`

[2020-04-15 04:56] ReimarBauer opened #74 "Set presenter for attendee per API call"
Hi,

I use bigbluebutton for a lot lightningtalks. We will have many participants.
I want to have the workflow that only the one who is giving a talk gets "presenter" manually, but didn't want to search that one in a large list.

I got the idea to use a list of names and an external program to enable this option. The current API seems not be able to archieve this.

That may need "room id", "user n

[2020-04-16 20:18] umutc opened #75 "Node no longer exists when i call $meeting->getAttendees()"
<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  BigBlueButton\Core\Attendee::__construct(): Node no longer exists</p>
<p>Filename: Core/Attendee.php</p>
<p>Line Number: 83</p>

---

code:
[code]

---
$info->getRawXml();

[code]

[2020-04-16 21:29] umutc commented on #75
Hello @GhaziTriki,

Please accept the the PR to fix this problem

[2020-04-17 01:00] temirikov opened #77 "The meeting ID that you supplied did not match any existing meetings"
Step by step:
1) i create the meeting
2) join as moderator
3) join some users as attendees
3) end meeting using button in HTML5 client, or using API - doesnt matter

After that i create this meeting one more time without any error
The try to join and this kind of error appears: The meeting ID that you supplied did not match any existing meetings "key":"invalidMeetingIdentifier"

Nothing like this

[2020-04-19 10:49] haviduck commented on #77
use the setmeetingid to your createmeetingparams

[2020-04-19 11:51] GhaziTriki commented on #77
I don't think this is an issue with the PHP library. You need to set the meeting ID every time you create it http://docs.bigbluebutton.org/dev/api.html#create

[2020-04-19 11:51] #77 closed

[2020-04-19 11:52] GhaziTriki opened #78 "Broken meta bbb-recording-ready-url"
Meta `bbb-recording-ready-url` is no more built into the URL.

[2020-04-19 11:54] GhaziTriki commented on #56
@emresaracoglu This is a great discussion. If you could create a thread in the forums https://groups.google.com/forum/#!forum/bigbluebutton-install and share your findings with the community it would be great.

[2020-04-19 11:54] #56 closed

[2020-04-19 11:55] GhaziTriki commented on #61
@rogercong Please start with the wiki https://github.com/bigbluebutton/bigbluebutton-api-php/wiki and tell us if it works. Thanks you !

[2020-04-19 11:55] #61 closed

[2020-04-19 11:57] GhaziTriki commented on #63
@pouyaaofficial Did you fix the issue?

The code below is mandatory to make the pre-uploaded documents work.

[code]

Your error might come from the code executing the library. Are you forwarding the HTTP call to the library?

[2020-04-19 11:59] GhaziTriki commented on #69
@Yurujai Thank you. We are discussing about how to make tests fixed, including this version.

[2020-04-19 12:01] GhaziTriki commented on #64
It related to this configuration

https://github.com/bigbluebutton/bigbluebutton/blob/41f19a2cd1bc7dae76cbd805cdc3ddfbf1e6ab18/bigbluebutton-web/grails-app/conf/bigbluebutton.properties#L235

If you set your BigBlueButton server configuration value `allowRequestsWithoutSession` pt `true` it will work.

We have a code for `JSESSIONID` in the repository but might needs fixing.

[2020-04-19 12:02] GhaziTriki commented on #70
@royjr If you execute the request in the browser you will see that it will not returning the XML result. Might be error 404 or 503. Could you check that please?

[2020-04-19 12:05] GhaziTriki commented on #71
@davidrojo Thank you for finding this.

The customdata might exist

https://github.com/bigbluebutton/bigbluebutton/blob/41f19a2cd1bc7dae76cbd805cdc3ddfbf1e6ab18/bigbluebutton-web/src/main/webapp/WEB-INF/freemarker/get-meeting-info.ftlx#L39-L45

I think the check you put is good.

[2020-04-19 12:08] GhaziTriki commented on #74
@ReimarBauer Hello,

Thank you for posting this request. Could you please give more details?

However I think you post should go to https://groups.google.com/forum/#!forum/bigbluebutton-users as you are exposing a usability request. Did I understand you well?

[2020-04-20 13:40] ReimarBauer commented on #74
@GhaziTriki I continue there. Just a note. On a larger list of attendees it is difficult to set presenter to someone. If you have the names beforehand, which is the case on sessions, than you have to match only times with names and can send a request by an addtional tool.

[2020-04-20 17:10] royjr opened #80 "Guest parameter on Join?"
This API is great, but why is it missing a simple "guest" parameter for joining meetings?
https://docs.bigbluebutton.org/dev/api.html#join

I'd like to use this to mark guests with the "moderator approval" settings using guestPolicy since most of our attendees are guests at the moment.

[2020-04-24 11:24] FelixJacobi opened #81 "Querying attendees of meeting throws warning"
Hi,

I noticed that querying attendees of a meeting throws the following warning:

[code]

I used the following code to query the participants of the meeting (simplified and generalized):

[code]

The warning seems to be thrown whenever at least one attendee is in the meeting.

If I remove the following block from the `BigBlueButton\Core\Attendee` constructor, everything works fine:

[code]

Teste

[2020-04-24 11:26] FelixJacobi commented on #81
Sorry, did not saw  #72 as mentioned another method, most likely duplicate.

[2020-04-24 11:26] #81 closed

[2020-04-25 05:02] kurzarbeit-einfach opened #82 "Get rid of getenv / Env-Parameters???"
Why would you use "getenv" to configure the BBB-Api class? Why not just passing those two parameters (secret & url) to the constructor?

Using environment variables has several drawbacks - as for example I cannot instanciate multiple objects of your API for managing different BBB Servers inside my application. Likewise, env-variables are easily available for all php scripts running in the same env

[2020-04-25 13:39] sualko commented on #82
I also don't understand why envs are used and would prefer to pass them directly to the constructur.

[2020-04-26 23:53] AsifShinwari opened #84 "Download Records"
There is no any option to download meeting's records.

[2020-04-27 14:26] sualko opened #85 "wrong cast for creation time"
The function `getCreationTime` is casting an integer string to a float value which results in failing joins.

[2020-04-28 15:21] dummyproj007 commented on #80
Hi any one has idea how to set "moderator approval" settings for creating meeting in php code

[2020-04-28 15:25] TechLee2019 opened #88 "BBB PHP API Laravel Wrapper Issue ---getMeetingInfo always returns {}"
Hi,
I need to know if a meeting room is still available or no, so i have tried with isMeetingRunning api, but it fails, always return {}, so i moved to GetMeetingInfo Api, but same goes with this.

Any API related to meeting room information, always gives me {} response.
Here goes my codes in the followings.

$bbb = new BigBlueButton();
$meetingRunningParameters = new GetMeetingInfoParameters($mee

[2020-04-28 15:29] Yurujai commented on #80
Hi @dummyproj007 this PR allows create meetings with guestPolicy (https://github.com/bigbluebutton/bigbluebutton-api-php/pull/67). We are using these changes.

[2020-04-28 15:33] dummyproj007 commented on #80
i tried to add guestPolicy but it gives error, any sample code @Yurujai

[2020-04-28 15:36] dummyproj007 commented on #80
$createMeetingParams = new CreateMeetingParameters($meetingId, $selectFromMeetingDataDet->meetingName);
                        $createMeetingParams->setAttendeePassword($selectFromMeetingDataDet->attendeePassword);
                        $createMeetingParams->setModeratorPassword($selectFromMeetingDataDet->moderatorPassword);

                        $createMeetingParams->setRecord(true);

[2020-04-28 15:51] Yurujai commented on #80
The PR created 3 methods to set guestPolicy.

1. setModerateJoin()
2. setOpenJoin()
3. setBlockedJoin()

On your example you should use the 1st option, its an abstraction of multiple values that you have to control the guestPolicy, with this methods you dont need to know the values of BBB to set it.

[2020-04-28 16:02] Yurujai commented on #88
On the wiki example for GetMeetingInfoParameters [1] it has a wrong number of variables on the constructor [2].

You can try this to get info ( just remove your 2nd variable ):

`$meetingRunningParameters = new GetMeetingInfoParameters($meetingID, $moderator_password);`

[1] https://github.com/bigbluebutton/bigbluebutton-api-php/wiki/API-Get-Meeting-Info
[2] https://github.com/bigbluebutton/bigblu

[2020-04-28 16:04] Yurujai opened #89 "[WIKI] Example of GetMeetingInfoParameters is wrong"
The page of GetMeetingInfoParameters example is wrong [1].

In the example uses 3 variables on the constructor but the constructor have only 2.

See [2]

[1] https://github.com/bigbluebutton/bigbluebutton-api-php/wiki/API-Get-Meeting-Info
[2] https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/src/Parameters/GetMeetingInfoParameters.php#L43

[2020-04-28 16:04] Yurujai commented on #88
I created a new issue for the documentation.

See: https://github.com/bigbluebutton/bigbluebutton-api-php/issues/89

[2020-04-28 16:09] dummyproj007 commented on #80
getting this error:
Call to undefined method BigBlueButton\Parameters\CreateMeetingParameters::setModerateJoin()
--
exception | Symfony\Component\Debug\Exception\FatalThrowableError

[2020-04-28 16:49] Yurujai commented on #80
I think you are using the master branch or last tag of a BBB PHP API and the PR is open yet.

To use it, you should create a fork an implement the changes of PR or wait for the PR.

I think people who are working on BBB PHP API are busy (the situation in the world is complicated
) and they are working hard to implements all solutions.

[2020-04-28 16:54] Happy-2020 commented on #88
Yurujai,
Thanks for your advice.
Have tried with that 2 parameters, Because the php api parameters are having only 2.
It didn't work, so i checked on the wiki documents and follow the code.

[2020-04-28 16:55] Happy-2020 commented on #89
Yurujai,
Thanks for your advice.
Have tried with that 2 parameters, Because the php api parameters are having only 2.
It didn't work, so i checked on the wiki documents and follow the code.

[2020-04-28 16:59] Happy-2020 commented on #89
Still its giving me {} response only. I checked this community, and found a comment saying.. execute this command on the server, bbb-conf --clean, bbb-conf -- check...
But unfortunately, i am still getting the same response {}, Do I have to touch some configuration files? Please kindly refer my issue, and give me your advice.

Thanks.

[2020-04-28 17:01] Happy-2020 commented on #89
//-------CODE FOR CREATING MEETING ROOM---------
$meetingID = $meetID;
$meetingName = $meetName;
$attendee_password = 'zxcewef';
$moderator_password = 'ddwqas';
$duration = 60*1000*60;

$urlLogout = url('/')."xxx";
$isRecordingTrue = true;

$createMeetingParams = new CreateMeetingParameters($meetingID, $meetingName);        $createMeetingParams->setAttendeePassword($attendee_password);
$createMeet

[2020-04-28 17:02] Happy-2020 commented on #89
//--------CODE FOR CHECKING ROOMINFOR---------------
$bbb = new BigBlueButton();
$meetingRunningParameters = new GetMeetingInfoParameters($meetingID, $moderator_password);
$meetStatus = $bbb->getMeetingInfo($meetingRunningParameters);

[2020-04-28 20:46] TechLee2019 opened #90 "GetMeetingInfo, IsMeetingRunning API always returns {} whether its running or not."
Hi,
I am using PHP 7.44, Laravel Framework 5.58
I need to know if a meeting room is still available or no, so i have tried with isMeetingRunning api, but it fails, always return {}, so i moved to GetMeetingInfo Api, but same goes with this.

Still its giving me {} response only. I checked this community, and found a comment saying.. execute this command on the server, bbb-conf --clean, bbb-conf --

[2020-04-29 05:01] GhaziTriki commented on #80
@Yurujai Thank you for your support. We are very busy to provide the best implementations we can all over!

[2020-04-29 05:01] GhaziTriki commented on #84
@AsifShinwari Can you please give more details?

[2020-04-29 05:04] GhaziTriki commented on #82
The environment variables are use to prevent putting the salt directly in the code.
A previous PR suggested the same thing, please take a look here https://github.com/bigbluebutton/bigbluebutton-api-php/pull/66#issuecomment-616118956

[2020-04-29 05:04] #82 closed

[2020-04-29 06:21] alimashalkpu opened #91 "String could not be parsed as XML"
got this error while working in laravel 6 for getting all meeting, and check inside BigBlueButton class response from api is correct just new SimpleXMLElement($data); is not working properly. I am working with windows 10 xammp

"SimpleXMLElement::__construct(): Entity: line 6: parser error : Opening and ending tag mismatch: hr line 5 and body"

[2020-04-29 13:54] dummyproj007 commented on #80
thanks a lot @Yurujai  . For your help in fixing my issue of moderator approval issue . i used this solution for my fixes
"this PR allows create meetings with guestPolicy (#67). We are using these changes."

[2020-04-29 13:58] dummyproj007 commented on #80
i am working on getrecordings with meeting id, but its not working . it gives all the recordings. not particular to meeting id.

--------------
        $recordingsParams = array(
            'meetingID' => '1587274606'//$request->meetingId,
        );
        $getRecordParams = new GetRecordingsParameters($recordingsParams);
        $response= $this->bbb->getRecordings($getRecordParams);
---------

[2020-04-30 06:34] alimashalkpu opened #92 "there no temp file in user/appData/temp/local/"

[2020-04-30 08:16] sualko commented on #82
As can seen from the other pull request there is a real demand and you can't protect the developer to do bad things. For example they could just use `putenv` to set the env. Also other big libraries like SwiftMail are using the constructor to provide authentication. I don't understand why a backward compatible change without impact for security is not merged.

[2020-04-30 09:12] jarmediagmbh commented on #82
+1 sualko! We have forked the bbb api php class into our own repo.

@GhaziTriki Why do you expect developers to not know what they are doing?
Not only is your solution very, very uncommon practice, but:
* It does not improve security as other scripts running in the same environment can easily read this variable.
* It is a real hussle for people using it with some kind of framework in which they ar

[2020-05-02 07:07] #91 closed

[2020-05-05 06:14] Entretoize opened #95 "Could not resolve host: api"
Hello; i'm following the wiki but at the first step after install I have errors.
I copied the code:

[code]

And I have that error:

`Fatal error: Uncaught RuntimeException: Unhandled curl error: Could not resolve host: api in /var/www/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php:480 Stack trace: #0 /var/www/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php(108):

[2020-05-05 08:52] richp10 commented on #52
@besingamkb  - did you find a solution to this - I have the same problem

[2020-05-05 09:34] dummyproj007 commented on #80
Hi Guys,

I am trying to use maxParticipants option
but its now happening . any suggestions

[2020-05-05 10:47] GhaziTriki commented on #92
@alimashalkpu Can you please give us more description about your issue?

[2020-05-05 10:49] GhaziTriki commented on #95
You need to have those values in the environment, else the "" (empty) host in unreachable.

[2020-05-05 10:49] #95 closed

[2020-05-05 11:10] GhaziTriki commented on #82
Hello @jarmediagmbh

Thank you for your feedback.

When it comes to security, yes we expect that developers are not all the time aware of what they are fully doing when dealing with security, even aware people my do it accidentally.

The choice of not allowing or giving the chance to put the shared secret in the source code is a security choice that you can circle by just extending the class.

Ple

[2020-05-05 11:19] SamuelWei commented on #82
Hello @GhaziTriki,

I fully understand your point, but...

In case an attacker has access to the source code to read the cleartext password, they are also capable to read the secret from the .env

The other point I think you want to make is, that implementing this feature could lead to people adding the password as cleartext in the source code and then accidentally publishing it.

On the other han

[2020-05-05 13:35] tdjac0bs commented on #82
Hello @SamuelWei A possible workaround for managing multiple servers ( dynamically setting the values ) is calling `putenv` before the usage of the class ( defining the value ) and after the usage of the class ( unseting the value ).

[2020-05-05 13:48] Entretoize commented on #95
OK, thank you but there's nothing in the wiki about those variables, what to put in ?

[2020-05-05 14:08] Entretoize opened #96 "String could not be parsed as XML"
I followed the wiki and am trying this code:

[code]

But this gives me the following errors:
[code]

What's the problem ?

[2020-05-05 14:11] toto4ds commented on #96
http**S**://mydomain.tld/bigbluebutton/ ?

[2020-05-05 14:34] sualko commented on #82
It's not more secure to use env, because in such a case this happens: https://github.com/ramezrafla/spreed-bigbluebutton/blob/8acb1aa11c4e19d76274b6b074723dd9a8f33c26/appinfo/app.php#L30-L31

`putenv` is no solution for systems with high security demands, because they disable env. This could also occur on shared hosters. For me env in a php application could also be a security vulnerability, if pe

[2020-05-05 15:14] SamuelWei commented on #82
@sualko i totally agree with you, that's why I created the pull request in the first place

[2020-05-05 15:19] Entretoize commented on #95
I found: http://docs.bigbluebutton.org/2.2/install.html#4--install-bigbluebutton

[2020-05-05 15:20] Entretoize commented on #96
It's ok I found that I didn't set the right server base url.

Ref: http://docs.bigbluebutton.org/2.2/install.html#4--install-bigbluebutton

[2020-05-05 18:07] jarmediagmbh commented on #82
Well, my guess is, that most of the devs out there won't follow this argumentation.

**But what you wrote is simply - sorry - wrong.** And I cannot believe that you are delivering such misinformation to other devs: Env is BY DESIGN no save place to store CREDENTIALS (!!!), but to provide the application with information that is very specific to the concrete system it runs on ("Am I on dev or prod

[2020-05-07 18:49] Entretoize opened #97 "missingParamRecordID when trying to delete a recording"
I'm doing that:

[code]

And the result is:

[code]

What's the problem with that code ?

[2020-05-08 18:48] Entretoize commented on #97
Did I say something stupid ? No Idea ?

[2020-05-08 19:31] Entretoize commented on #97
I found my mistake, $recording->recordID is an array (don't know the goal), then my code needs to be:
`$deleteRecordingsParams= new DeleteRecordingsParameters( current( $recording->recordID ) );`

[2020-05-08 19:31] #97 closed

[2020-05-10 08:42] ripon52 opened #98 "BBB with Laravel 6."
I need your guideline about BBB integration with Laravel-6.

What i did yet ?
I installed fresh Laravel -6.
Installed https://packagist.org/packages/bigbluebutton/bigbluebutton-api-php

What's next now ?

[2020-05-10 08:50] joisarjignesh commented on #98
use this package bbb integration in laravel  https://github.com/joisarjignesh/bigbluebutton

[2020-05-10 09:52] ripon52 commented on #98
How to get this two ?

BBB_SECURITY_SALT=bbb_secret_key
BBB_SERVER_BASE_URL=https://example.com/bigbluebutton/

[2020-05-10 12:30] toto4ds commented on #98
in .env
or
putenv("BBB_SERVER_BASE_URL=".$BBB_SERVER_BASE_URL);
putenv("BBB_SECRET=".$BBB_SECRET);

[2020-05-10 12:57] joisarjignesh commented on #98
@ripon52 first u get security_salt and url from server
run this command

if don't have bigblue server then create and install bbb [see](https://docs.bigbluebutton.org/2.2/install.html)

[2020-05-10 16:48] ripon52 commented on #98
Am using Ubuntu 18.04 . Whenever i tried to install bbb its saying , You should run this command at ubuntu 16.04. What to do ?

.
Is there easy way to install at Windows ?

[2020-05-11 05:21] joisarjignesh commented on #98
use this script it will automatically install bigbluebutton on server https://github.com/bigbluebutton/bbb-install

[2020-05-13 03:06] shangandhimani opened #100 "BBB - Integration with TalentLMS - Secret key - Issue with user logout"
We have integrated with BBB for ILT session in TalentLMS. When i created the ILT class in talentLMS, for eg 9.00am, choose as webinar, create the event and added the learners. I have around 40 learners. Everything is fine . When the learners login at 9.00am, the Join is enabled.They can join the BBB meeting session with no issue. But some learners who join at 10.00am , the join link is enabled but

[2020-05-13 15:23] tigernethost opened #101 "Unhandled curl error: SSL certificate problem: unable to get local issuer certificate"
Hi, I have successfully configured BBB on my development server currently it is running on https but the problem is that I am having this error message

Unhandled curl error: SSL certificate problem: unable to get local issuer certificate

I am using bigbluebutton-api-php

[2020-05-15 09:21] Renjithcse commented on #101
Same issue for me. Any Solutions?

[2020-05-15 09:27] tigernethost commented on #101
My online solution was to modify BigBlueButton.php in vendor changed the  curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, 1) to 0 to disable SSL Verification. Not a permanent solution though

[2020-05-15 14:56] sakdeniz opened #102 "$createMeetingParams->addPresentation not works anymore after 2.2.10 update"
Hi,

$createMeetingParams->addPresentation not works anynore with 2.2.10 update. When we create a meeting presentation list shows empty.

Looks like something changed with 2.2.10 update. Can you fix this issue?

Thanks.

[2020-05-15 17:04] sakdeniz commented on #102
Fixed with 2.2.11 update.

[2020-05-15 17:04] #102 closed

[2020-05-17 08:43] sualko commented on #82
@jarmediagmbh @SamuelWei I'm getting more and more disappointed with the whole situation. Failing ci tests, even small pr are not merged and so on. Are you interested in creating an own fork? I know that everyone of you, similar to me, are maintaining a fork, but if we join our efforts we could save some time. What do you think? We could create a new org with a fork and than work on merging all pe

[2020-05-18 01:28] besingamkb commented on #52
@richp10 not yet. i end up using `endCallbackUrl`

[2020-05-18 09:24] jarmediagmbh commented on #82
@sualko Yeah, sure. We have detected a few more errors and things that were not implemented yet.
How do we go on?

[2020-05-18 09:27] SamuelWei commented on #82
@sualko Sounds like a good idea.

[2020-05-18 09:42] sualko commented on #82
:tada: we need a name for our organisation and than I would offer to set everything up, so that we are equal owners of the group. Any ideas for a name? SmallRedButton? :D

[2020-05-18 09:42] SamuelWei commented on #82
@sualko Sounds like a good idea. I'm also contributing on this repo https://github.com/joisarjignesh/bigbluebutton to create a good package for laravel that is based on this general php api.
@joisarjignesh Are you interested to move your project to a new org. as well?

[2020-05-18 11:54] joisarjignesh commented on #82
@SamuelWei  Yes I would be more than happy to join you all and work for some collective benefit

[2020-05-18 12:01] sualko commented on #82
I created a organisation, sent you an invitation and created an issue for further discussions: https://github.com/littleredbutton/bigbluebutton-api-php/issues/4

[2020-05-18 12:36] #96 closed

[2020-05-24 18:52] rohitcoder commented on #52
Hey Guys, i just tried this and its working, simply  do ``sudo apt-get install bbb-webhooks`` and then register a webhook with
[code]
and it works for me!

[2020-05-25 12:26] KimBrodowski opened #106 "Use SHA-256 instead of SHA-1"
Apparently BBB supports SHA-256, which happens to be much more secure than SHA-1. Since clients may come in contact with URLs containing a checksum, especially with join URLs, I strongly suggest a simple upgrade to SHA-256.

TLS does not protect against clients deriving the secret from the checksum eventually.

Upgrading to SHA-256 of course doesn't fully solve the underlying issue, nor does it so

[2020-05-25 12:27] KimBrodowski commented on #106
For a discussion of SHA-1 in BBB see https://github.com/bigbluebutton/bigbluebutton/issues/9634

[2020-05-26 16:21] sazanof commented on #63
join the problem!
404 error when loading the default presentation or any other presentation. The problem is observed in the flash client. everything works fine in html5
![image](https://user-images.githubusercontent.com/3595562/82925148-05cd5c00-9f86-11ea-80fe-ac780de636a6.png)

[2020-06-02 08:33] SiebelsTim opened #107 "Support Meeting::isBreakout()"
We have this in the rawXML, but it is not exposed via the PHP-Interface.

[2020-06-02 12:37] Lukas2000 opened #108 "Pre-upload multiple documents & keep the default whiteboard"
Does the API allow for multiple files to be uploaded when using the external call to load BIgBlueButton?

Additionally, we noticed that when a file is selected for pre-uploading, the default whiteboard is no longer there among the file options. Is there a way to keep the default whiteboard as an option?

Thank you.

[2020-06-02 14:33] GhaziTriki commented on #108
@Lukas2000 If you would like to pre-upload files it would replace the default presentation. In that case you should pre-upload your default presentation.

[2020-06-02 14:33] #108 closed

[2020-06-02 14:34] GhaziTriki commented on #84
This is not related to the PHP API.

[2020-06-02 14:34] #84 closed

[2020-06-02 14:57] GhaziTriki commented on #82
@sualko We wish you a good luck with your fork initiative. The official API will continue its way with the vision we share. Any new feedback from the community is welcome.

[2020-06-02 15:00] GhaziTriki commented on #106
Hi @KimBrodowski the API should be able to use both of sha1 and sha256. We will update it to use any of them by configuration. Any suggestion?

[2020-06-02 15:02] #92 closed

[2020-06-02 15:03] sualko commented on #82
The reason for the fork was that community work was not encouraged at this repository and therefore I doubt that there will be any feedback from my side. If you look at our fork you can see what can happen if you motivate people. We already have fixed a lot of issues, added some more functionality and support php 7.4. Feel free to cherry pick those changes.

[2020-06-02 15:05] GhaziTriki commented on #89
Thank you fixed.

[2020-06-02 15:05] #89 closed

[2020-06-03 09:18] vecdan opened #109 "Create meeting with restricted viewers"
We are using BBB integrated into our own LMS and we are using PHP API. One of the used scenarios is "monitoring room" for student's distant exams (students runs on-line test, joined in the BBB room with webcam switched on and teachers monitors them).
For this scenario, it will be very helpful, if there will be CreateMeetingParameter for locking viewers such as: See others viewers webcams,  Send Pr

[2020-06-04 08:42] toto4ds opened #110 "Unrealized api methods"
Hi,
These methods are not implemented.
create:
    bannerText
    bannerColor
    allowModsToUnmuteUsers
    guestPolicy
join:
    defaultLayout
    guest

[2020-06-17 14:04] mcferdev opened #111 "Problem with Browser check on Devices WebView"
I am trying to use a WebView on Android, but with all emulators[ I got a error saying there is a old version of the browser. But when I check the version is higher and updated.
How can I disable this check ?
Look like the same problem [here](https://github.com/bigbluebutton/bigbluebutton/issues/8152) , but I haven´t success changing the file /usr/share/meteor/bundle/programs/server/assets/app/conf

[2020-06-21 14:05] ashkan1627 opened #112 "how can limit online users in bigbluebutton"
Hi, everyone
I Use Learndash LMS in wordpress by bigblubutton plugin and I need to limit users online in bigbluebutton.
for example only 50 user can enter the class
how can i do it?

[2020-06-23 20:15] hananaq commented on #70
im having the same issue, when i run the joinMeeting i get a set of errors, im running on php 7.1

Severity: Warning
Message: SimpleXMLElement::__construct(): Entity: line 37: parser error : Opening and ending tag mismatch: meta line 13 and head

Severity: Warning
Message: SimpleXMLElement::__construct(): </head>

Type: Exception
Message: String could not be parsed as XML

any way of fixing this ?

[2020-06-25 09:40] jibon57 commented on #112
I have sent a pull request here: https://github.com/blindsidenetworks/wordpress-plugin_bigbluebutton/pull/85 but don't know why maintainer didn't notice. You can try my version from here: https://github.com/jibon57/wordpress-plugin_bigbluebutton

[2020-06-28 16:28] sualko commented on #110
Hi @toto4ds, we created a fork with many enhancements and fixes. We also implemented most of those requested methods. Just checkout https://github.com/littleredbutton/bigbluebutton-api-php and if something is missing, just open an issue there.

[2020-06-28 16:42] #85 closed

[2020-06-29 18:00] MmdRasoul opened #113 "how can create checksum"
hi i used this code for make checksum  for create a room.
[http://test-install.blindsidenetworks.com/bigbluebutton/api/create?....]
my checksum code is not true! ?i get error.

`<?php
$sec="8cd8ef52e8e101574e400365b55e11a6";
   $parameters = [
      'meetingID' => 'Test',
   ];
   $queryBuild = http_build_query($parameters);
   $checksum = sha1('create' . $queryBuild . $sec);
echo $checksum;
?>`

[2020-07-01 18:44] #113 closed

[2020-07-15 06:57] ArunDanielKennedy opened #114 "Missing parameter info for pre-uploading files"
There is no info on how to pre-upload slides during meeting creation in the documentation of this PHP API. Please shed some light on this matter.

[2020-07-16 02:07] shingtacs commented on #98
I already installed the above package and tried to check it using this:

dd(\Bigbluebutton::isConnect());
it returned false

I also tried installing this
https://packagist.org/packages/bigbluebutton/bigbluebutton-api-php

the problem is that it always returned the error:

String could not be parsed as XML

I don't know what happened. I just follow the steps.

[2020-07-16 02:09] shingtacs commented on #91
How did you solved this?

[2020-07-17 07:02] shingtacs opened #115 "Call to a member function asXML() on string"

[2020-07-21 22:16] sherkhanz commented on #70
Same here, the Join Meeting Url built by `getJoinMeetingUrl()` returns the index page when queries through `joinMeeting()` method. I simply dumped the data returned from curl before returning it as `SimpleXMLElement` and it was the BBB's default index page with 200 status code

[2020-07-21 22:50] sherkhanz commented on #70
Okay found out that the issue was because i had `redirect` joinMeetingParameter set to true. Setting it to false returns joinMeetingResponse Object.

[2020-07-22 08:07] botris commented on #114
It's a CreateMeetingParameters method:
[code]

[2020-07-22 08:21] botris opened #116 "Create new tagged release"
~~Even though the `muteOnStart` method is implemented, the setting is not respected. This is due to the fact that the boolean is not transformed to a true / false string in the `getHTTPQuery` method.
As the tests only validate the methods and the properties and not the `getHTTPQuery` method this is not caught.~~

--edit--
It seems the original issue is actually fixed but no tagged version was rele

[2020-07-22 10:10] GhaziTriki commented on #116
@botris Do you mean it is in the master but not tagged?

[2020-07-22 10:11] #114 closed

[2020-07-22 10:11] #112 closed

[2020-07-22 11:40] botris commented on #116
@GhaziTriki yes therefor composer won't pull in the new changes.

[2020-07-23 08:08] voltan opened #117 "How to manage configs"
Hello

I use bigbluebutton-api-php on my application to make a meeting room. My application manage online events and I want event owner can do make some configs like disable camera and microption for all people and same

Can I set some options like this by php api ? how I can do it?

thank you so much

[2020-07-30 08:16] sualko commented on #117
Hi,

you have to check the [BBB API](https://docs.bigbluebutton.org/dev/api.html) if such an config is possible. For example during the room creation you can set webcamsOnlyForModerator to true. Afterwards you can set the parameter through this API. Usually something like `$creationParams->setWebcamsOnlyForModerator(true);`.

[2020-07-30 08:20] sualko commented on #116
Hi botris :wave:. You can also use [our fork](https://github.com/littleredbutton/bigbluebutton-api-php) to get an modern up-to-date API for BBB and the best thing is that this fix is already included :tada:.

[2020-07-30 08:21] sualko commented on #111
How is this related to the php api?

[2020-07-30 13:24] Ezanor opened #118 "Use strlen instead of mb_strlen"
Hi,

Is there any reason to use  mb_strlen instead of strlen for the Content-Length header here :
https://github.com/bigbluebutton/bigbluebutton-api-php/blob/48aa35340213fd3a6f3d6d81eb54d7b4eebef141/src/BigBlueButton.php#L475

mb_strlen get number of char VS strlen get the number of octets.

I just found that pre-uploading multiple pdf with some char cause bbb-web to stop reading body before the c

[2020-07-30 16:08] createoppurtuinities opened #119 "API url without bigbluebutton"
Dear Experts,

Can we have the api url generated without bigbluebutton like with only

i want the API url without bigbluebutton in the url. is it possible?
normal url looks like below
http://<your_hostname>/bigbluebutton/api/isMeetingRunning?meetingID=abcdef

But the api url which i provide to my partner application should be like below

http://<your_hostname>/api/isMeetingRunning?meetingID=abcdef

[2020-08-02 12:23] esfahanweb commented on #119
@createoppurtuinities

I think it does not belong to this package's functionality.
these endpoints are defined in the BBB server and this is just a PHP wrapper to work with that.
you can use your own endpoints if you want to hide them from the end-user.

[2020-08-02 17:20] createoppurtuinities commented on #119
I am pretty new in this. can you please let me know how i can define my own
end points. your help is greatly appreciated

On Sun, Aug 2, 2020 at 5:54 PM esfahanweb <notifications@github.com> wrote:

[2020-08-03 04:33] esfahanweb commented on #119
you're welcome,
are you familiar with rest API in PHP?
ie. you can create an URL such as `http://<your_domain>/api/isMeetingRunning?meetingID=abcdef` and use BBB API in background when this URL requested by user.
actually you should use BBB API to communicate your backend with BBB server and show your own URLs to end-user. (for security reason)

[2020-08-03 05:18] createoppurtuinities commented on #119
Ohh great, thanks a lot for letting me know this. How to connect these APIs
togather.

Can we use these php rest APIs to any application?

Currently the requirement is  one of our partner is asking for api to use
it in their application where they serve it to their customers on their
brand.

What is the way to share the APIs now.

Can you kindly give me some clarity on this?

On Mon 3 Aug, 2020, 1

[2020-08-04 04:28] esfahanweb commented on #119
the BBB server has several API endpoints and these APIs are not belong to this package.

more information can be found here:
`https://mconf.github.io/api-mate/`

if you want to create your application with PHP, you can use this package to communicate with BBB APIs.

you can give the BBB APIs and your secret to your partner and they have to develop their application.

[2020-08-04 05:50] createoppurtuinities commented on #119
Is it safe to provide our secret to our partner? Is this the only way or do
we have any other option?

Can we also do this with java api like providing api with our own domain
api instead of using bigbluebutton in the api url?

Like https://mydomain.com/api

On Tue 4 Aug, 2020, 9:59 AM esfahanweb, <notifications@github.com> wrote:

[2020-08-04 11:20] esfahanweb commented on #119
NO, it's not safe!
with the secret key, they can access to all your BBB server meetings!

if you have a BBB server and you want to share meetings with others, you have to create your own API and give them access to that with your preferred access controls.

you can look at `https://mconf.github.io/api-mate/` and create your own APIs in any language(java, js, ruby, python, ...) and this package jus

[2020-08-04 11:32] createoppurtuinities commented on #119
Ohh great, thank you so much.

One more thing I want know is if my partner have an application devveloped
in java or any lms platform like Moodle will I be able to provide him with
php api?

Will it be compatible?

In java api can we provide our own api with my own domain with
bigbluebutton like

https://mydomain.com/api

Instead of

https://mydomain.com/bigbluebutton/api

On Tue 4 Aug, 2020, 4:50

[2020-08-04 11:55] esfahanweb commented on #119
It absolutely belongs to the developed app or the moodle's plugin to compatible with your APIs, otherwise, you have to create your APIs completely similar to BBB APIs.

[2020-08-04 12:02] createoppurtuinities commented on #119
If not compatible then URLs to similar to BBB means similar like this?

https://mydomain.com/bigbluebutton/api/fghjhffdgyyjjbgcxc

Then we also need to share the screte as well?

On Tue 4 Aug, 2020, 5:25 PM esfahanweb, <notifications@github.com> wrote:

[2020-08-04 12:18] esfahanweb commented on #119
Yes,
the common plugins or applications designed to work with BBB APIs, if you change your endpoints, you have to change that plugin or application too.

[2020-08-05 00:26] mahmoudabdelhalim opened #121 "The Bigbluebutton running with flash, How I can change to HTML5"

[2020-08-11 07:50] mojtabahub opened #122 "Fatal error: Class 'BigBlueButton\TestCase' not found"
Hello,
thanks for awesome software

I am extremely new to use Big Blue Button API

I want use your example php in windows. I am not sure I am in right way or not. please guidance me if I am not in right way

I Installed your example with `composer require bigbluebutton/bigbluebutton-api-php:~2.0.0` command as you said in wiki

also my curl version installed is `curl 7.55.1` and i checked `mbstring

[2020-08-11 13:54] mcferdev opened #123 "Use just the API without Website"
Hi,

If I remove GreenLight and the BigBlueButton HomePage (/var/www/bigbluebutton-default/index.html), it´s enough to use the BBB (concerning about security) ?
Because I have created a App to use and on the beginning we don´t want any website.

[2020-08-12 18:54] spyp commented on #123
Yes you can
Greenlight is like simple website that wrapper api
dont use greenlight at all and remove it

[2020-08-12 19:07] mcferdev commented on #123
But it´s enough deleting it and removing index.html webpage ? .

[2020-08-17 18:28] #123 closed

[2020-08-31 11:19] sualko commented on #122
Hi @mojtabahub,

you maybe like to test [our fork](https://github.com/littleredbutton/bigbluebutton-api-php), because we fixed those test cases and added a lot of other improvements. Have fun!

[2020-08-31 11:21] sualko commented on #121
Hi @mahmoudabdelhalim,

you probably need to configure your bbb instance to only use html5, or set the `joinViaHTML5` parameter during the join call. See https://docs.bigbluebutton.org/dev/api.html#join.

[2020-09-21 23:51] djoudi commented on #98
https://github.com/djoudi/BBB-Laravel

[2020-09-27 22:01] maxgilcosta opened #127 "Welcome Message"
Hi, a little observation:
In APP docs => create, the param "welcome" dont work in PHP API.
I use "WelcomeMessage" and works fine.

[2020-09-27 22:01] #127 closed

[2020-09-27 22:02] maxgilcosta commented on #127
I use "WelcomeMessage" and works fine.
$createMeetingParams->setWelcomeMessage("Welcome message");

[2020-09-28 05:13] joisarjignesh commented on #127
@maxgilcosta  used param "welcomeMessage" not "welcome"

[2020-10-04 18:54] Beginner95 commented on #89
I also receive a message
[code]
Did you solve the problem?

[2020-10-12 11:38] varma-nexge commented on #56
can any one tel me, is there any haproxy available for bbb

[2020-10-27 11:02] SamuelWei opened #130 "GetMeetingInfo doesn't require a moderator password"
The docs and the source code only requires the meeting and and not the moderator password for the getmeetinginfo api: https://docs.bigbluebutton.org/dev/api.html#getmeetinginfo

That makes sence, because you could read the same data with the getMeetings API that can't require a moderator password by design.

Is there any reason to keep the password parameter in the GetMeetingInfoParameters class?

[2020-11-13 13:48] carovidela opened #132 "error Class 'BigBlueButton\TestCase' not found"
Intento ejecutar el archivo BigBlueButtonTest.php, obtuve este error:
Fatal error: Class 'BigBlueButton\TestCase' not found

No encontre bien como ver el tema de configurar BBB_SECRETy BBB_SERVER_BASE_URLen Xampp? ¿Cómo puedo hacer eso?

De todas formas si quiero usar la libreria no me encuentra la clase como puedo solucionar esto???

Muchas gracias

[2020-11-18 12:44] hamedunik opened #133 "Moodle high load because of api loading records"
My LMS Moodle cpu usage will go high upon starting bigbluebutton meetings. It seems when I have near 800 users and using scalelite and bigbluebutton API, the time to seek for and load of recording of each recorded presentation is too much and it will affect performance of LMS. Teachers should wait long time to see JOIN MEETING. how is it possible to reduce time? is it possible to just call the rec

[2020-11-19 08:26] #75 closed

[2020-11-19 13:03] GhaziTriki commented on #133
Dear @hamedunik, thank you for filing the issue. But I don't see how it is related to the API library?

[2020-11-19 13:03] GhaziTriki commented on #130
@SamuelWei I think it is an old requirement that have been changed since. I have to double-check.

[2020-11-19 13:04] #121 closed

[2020-11-19 13:04] GhaziTriki commented on #121
Thank you @sualko for pointing to the right docs.

[2020-11-19 13:06] #111 closed

[2021-01-06 17:01] Noext commented on #80
any update on the original issue ?

it seem that we cannot generate link for a guest , JoinMeetingParameters has no guest property

[2021-01-20 06:39] thrillsam commented on #52
Hi Guys, I am also facing the same problem. callback works through postman, curl command. but bbb-webhook emitter returns  **error in the callback call to** . Mine is Rails application. can you please any one help me on that

[2021-01-22 08:09] sualko commented on #132
This is an English speaking community, so please use a translator. If you have issues with this api, you maybe want to test our fork with many enhancements and working tests :wink: https://github.com/littleredbutton/bigbluebutton-api-php

[2021-01-22 08:15] GhaziTriki commented on #132
Dear @sualko,

I deleted your message. Please don't promote your fork here. The BigBlueButton developers are busy imporving the core product, it does not mean we are not interested into maintaining this library.

Thank you.

[2021-01-22 08:26] sualko commented on #132
All devs from littleredbutton tried to contribute to this project and instead of inviting them, they got mostly ignored. I understand that you are all busy, but especially in such cases you should take any help you get. With working test cases and proper project settings it's a breeze to share responsibility. As a result the workload of the core devs would be reduced. My aim is to help as many peo

[2021-02-05 23:02] #133 closed

[2021-02-16 08:54] KimBrodowski opened #134 "Wrong license in composer.json"
Hello,

the composer.json states this project is licensed under GPL while the LICENSE file states the project is released under LGPL.

This is a problem, since as a commercial proprietary software vendor we cannot use GPL licensed code except under very specific circumstances.

https://github.com/bigbluebutton/bigbluebutton-api-php/blob/1c8fb609e901c4932609608a5ab98a1c31115d63/composer.json#L11

h

[2021-03-17 18:59] mcferdev opened #135 "How Can I access the recordings and Meetings done through the API ?"
I have the Greenlight "version" and now I have done my App, that uses the bbb API, but I would like to get all the meetings created by a user, because they´re the same (LDAP users).
How Can I access the recordings and Meetings done through the API and the Greenlight? I can´t see both together
Which parameters the Greenlight uses to get them?

[2021-04-09 16:04] Magik-72 opened #137 "setFreeJoin declared twice in CreateMeetingParameters"
Since this release https://github.com/bigbluebutton/bigbluebutton-api-php/releases/tag/2.0.10, there is an error introduced by this commit https://github.com/bigbluebutton/bigbluebutton-api-php/commit/890eacad9b0224451108a05b6484041a5274050a.

A second `setFreeJoin` method that conflicts with an already present `setFreeJoin` method in the CreateMeetingParameters class https://github.com/bigbluebut

[2021-04-10 16:46] tanero commented on #137
Today after upgrade the library by composer,  start to recieve same error.

[2021-04-13 14:06] senatoregiorgio commented on #137
I've just encountered the same error. I had to downgrade the library to version 2.0.9.

[2021-04-14 13:58] szekster opened #138 "getRecordings API"
I can successfully call getRecordings() and fetch an object that contains all the data for all recordings.  My issue is that there does not seem to be any methods for which to access the individual records in the returned object.  getMessage,  getRawXml seem to return empty data or arrays.  I ended up making a modification such that getRecordings returns just XML, then I convert that XML to an ass

[2021-04-14 15:31] cahueya commented on #138
This is what I did:
            if ($response->getReturnCode() == 'SUCCESS') {
                foreach ($response->getRawXml()->recordings->recording as $recording) {
                    $recordingurl = $recording->playback->format->url;

[2021-04-14 15:51] szekster commented on #138
awesome, yes, this works.. thank you!

[2021-04-14 17:25] szekster opened #139 "getRecordings API startTime, endTime timestamps"

[2021-04-15 07:21] tecziq opened #141 "Multiple declarations of setFreeJoin() function in CreateMeetingParameters file"
There are multiple declarations of setFreeJoin() function in CreateMeetingParameters file.

What i did for installation is :- composer require bigbluebutton/bigbluebutton-api-php:~2.0.0

![image](https://user-images.githubusercontent.com/19544454/114829729-10385480-9de9-11eb-8976-140ea8a1e6cf.png)
![image](https://user-images.githubusercontent.com/19544454/114829671-ff87de80-9de8-11eb-8b2a-0f34c32

[2021-04-15 07:30] GhaziTriki commented on #141
Fixed.

[2021-04-15 07:30] #141 closed

[2021-04-15 07:31] GhaziTriki commented on #137
Fixed in 2.0.11

[2021-04-15 07:31] #137 closed

[2021-04-23 10:15] diable2010 opened #143 "Error: "Warning: SimpleXMLElement::__construct():""
**PHP:**

`<?php

require 'vendor/autoload.php';

use BigBlueButton\BigBlueButton;
use BigBlueButton\Core\ApiMethod;
use BigBlueButton\Exceptions\BadResponseException;
use BigBlueButton\Parameters\CreateMeetingParameters;
use BigBlueButton\Parameters\DeleteRecordingsParameters;
use BigBlueButton\Parameters\EndMeetingParameters;
use BigBlueButton\Parameters\GetMeetingInfoParameters;
use BigBlueButt

[2021-04-24 09:00] GhaziTriki commented on #135
If you want to access all the meetings created via Greenlight please search with metadata `bbb-origin` equals to `Greenlight`.

[2021-04-24 09:00] #135 closed

[2021-04-24 09:01] GhaziTriki commented on #134
Thanks @KimBrodowski it will be fixed.

[2021-04-24 09:02] GhaziTriki commented on #52
If you install the webhooks package in your server it will work.

[2021-04-24 09:02] #52 closed

[2021-04-24 09:02] GhaziTriki commented on #80
Guest has been implemented in https://github.com/bigbluebutton/bigbluebutton-api-php/releases/tag/2.0.11

[2021-04-24 09:02] #80 closed

[2021-05-07 23:31] wb7 opened #144 "bannerText and bannerColor missing"
Hello,

the mentioned fields in the API docs (https://docs.bigbluebutton.org/dev/api.html) "bannerText" and "bannerColor" in the create method cannot be set using the PHP API.

Is there a reason for this?

Thanks in advance,
wb7

[2021-06-11 20:01] GhaziTriki commented on #134
License fixed https://github.com/bigbluebutton/bigbluebutton-api-php/commit/82b30feb01584b53c98364ae7988247b94bbbf5c

[2021-06-11 20:01] #134 closed

[2021-06-11 20:02] #138 closed

[2021-06-29 12:36] sazanof commented on #34
Deep tests....=)
redirect false and sessionToken works only if `allowRequestsWithoutSession` = `true`
in
`/usr/share/bbb-web/WEB-INF/classes/bigbluebutton.properties`

https://github.com/bigbluebutton/bigbluebutton-api-php/issues/64

[2021-07-08 20:17] daptontdev1 commented on #40
Any solution from anyone? I am facing the same issues.

[2021-07-14 22:04] czange opened #145 "How to update a meeting after creation with API"
What is the way to update meeting room settings once the meeting room was created - like it is possible in green light?

e.g. changing welcome message etc.

[2021-07-15 11:10] ffdixon commented on #145
It's not possible as the meeting parameters have been set.   For example, if you create a meeting with `moderatorPW=abc` and then send the same `create` API call and change `moderatorPW=abcd`, the meeting will have the initial password.

[2021-07-15 16:50] czange commented on #145
Hi Fred, thanks for this reply - but how can you change room settings in greenlight? It is clear that, if the room is actively running, there is no change in settings - but for the next meeting it works. In green light you always can adapt settings, like password etc.

[2021-07-20 07:14] czange commented on #145
@ffdixon Sorry for asking again. It is for the BBB Module that we implemented for Drupal - so we need this information to be able to finalise some of the features. What I observed is, that you can create rooms in GREENLIGHT and you also can change settings for this rooms anytime (e.g. the password).

How is that working - you obviously only create the room once the meeting starts, right? But how d

[2021-07-23 08:40] globenewmedialtd opened #146 "API Call GetMeetingInfo"
Why is there an additional parameter used, when the original API Call does not need a moderator pw?
https://docs.bigbluebutton.org/dev/api.html#getmeetinginfo

[2021-07-28 12:40] omsrivastava opened #147 "Missing few parameters in GetRecordings response"
The following parameters are required but these are missing in **Record** class under **BigBlueButton\Core** namespace -
1. size
2. preview
    a. images

[2021-07-30 00:46] #70 closed

[2021-08-23 18:22] czange opened #150 "How to configure a Wait for Moderator Setting"
How to configure a **wait for moderator** setting through the API. I know about the guest_policy - but I assume this is a different api setting. We need this for the development of the drupal client.

[2021-08-23 18:34] pedrobmarin commented on #150
https://docs.bigbluebutton.org/dev/api.html#create

Search for `guestPolicy`. If you are using a third party API wrapper (php, javascript, ruby...), make sure to check it's documentation on it.

[2021-08-23 18:42] czange commented on #150
Thanks Pedro, I know about Guest Policy - the values are always allow, always deny and approve by moderator. But I am looking for the value "wait for moderator" which means viewers have to wait for the moderator to login - and will then be polled into the meeting automatically.

[2021-08-23 18:43] czange commented on #150
guest policy has a problem with our PHP API Version - but I think it is a different thing anyways

[2021-08-23 18:44] pedrobmarin commented on #150
Yeah... I remember seeing some folks asking similar questions over here. Maybe check on these guys improvements over this api https://github.com/bigbluebutton/bigbluebutton-api-php/issues/110

[2021-08-23 18:45] czange commented on #110
Is there any setting that allows to use the wait for moderator method?

[2021-08-23 18:56] czange commented on #150
Well - not really, thanks anyway.

I am looking for a specific setting, different from ASK_Moderator - which is Wait for Moderator - so people can only join in, once the moderator is there.

[2021-08-23 19:27] pedrobmarin commented on #150
As far as I know, and I'm one of the developers of this guest thing, there's no such thing you are asking besides the guestPolicy=ASK_MODERATOR.

[2021-08-23 19:31] pedrobmarin commented on #150
Maybe this is something greenlight does outside the bigbluebutton server and it's causing the confusion...

[2021-08-23 19:38] czange commented on #150
Hi Pedro - this setting is available in Greenlight. How do they do it? this is the setting I am looking for. It is per default on YES in our BBB implementation for Drupal (which we are developing, and are going to share as open source with the world ASAP)
<img width="1443" alt="2021-08-23_21-37-56" src="https://user-images.githubusercontent.com/61565801/130508812-4f409cb8-5a76-46b4-8d4d-1eca3be3b7

[2021-08-23 19:39] czange commented on #150
I need this setting to be manageable - or to be default on No - which is better

[2021-08-23 19:43] pedrobmarin commented on #150
I'm afraid you'll have to check with the greenlight developers https://github.com/bigbluebutton/greenlight. I'm not aware of the details...

[2021-08-23 19:48] czange commented on #150
Thanks Pedro this helps a lot - and I think I understand now, how that works - it works totally through the client.... So if that is the case, we also can do this - as we can check if there is a moderator....

[2021-09-01 00:06] michaelchen001 opened #151 "Using getMeetingInfo to get current BBB-SERVER-URL"
Hi,all
I am using scalelite for BBB load balancer.  The getMeetingInfo API will return all of a meeting’s information. but I also want to know which BBB server supporting this meeting.

Can it return below info?
 `<meetingServer>https://example1.com</meetingServer>`

`
<response>
  <returncode>SUCCESS</returncode>
  **<meetingServer>https://example1.com</meetingServer>**
  <meetingName>Demo Meetin

[2021-09-14 12:54] kaystrobach opened #153 "add endWhenNoModerator and endWhenNoModeratorDelayInMinutes"
https://docs.bigbluebutton.org/dev/api.html#create

adds some more parameters to the uri. Please add the following 2 paramters to the

* endWhenNoModerator
* endWhenNoModeratorDelayInMinutes

[2021-09-19 22:49] Kaabi opened #154 "Simple Improvements (Timeout become configurable - allow the create of custom calls)"
I have created 2 PR to improve the usage of your API and I would love to have them officially merged into the master repo

- #149
- #148

[2021-09-20 12:34] cod3r0k opened #155 "update meta of recording files"
Hi, Why this excellent package does not provide https://docs.bigbluebutton.org/dev/api.html#updaterecordings functions?
I want to update meta data of recording. Could you help me?

[2021-09-26 19:47] GhaziTriki commented on #155
Hi @cod3r0k,

It does, check here https://github.com/bigbluebutton/bigbluebutton-api-php/blob/master/src/BigBlueButton.php#L359

[2021-09-26 19:47] #155 closed

[2021-09-26 19:47] GhaziTriki commented on #153
Thanks @kaystrobach will be done as soon as possible.

[2021-09-27 00:22] cod3r0k commented on #155
Thanks @GhaziTriki

[2021-09-27 03:42] kaystrobach commented on #153
Thank you.

[2021-09-27 07:00] kaystrobach commented on #153
If needed, i can also check for the other arguments.

[2021-09-30 09:04] kaystrobach commented on #153
will you accept a PR on this?

[2021-10-02 06:29] cod3r0k opened #157 "Header may not contain more than a single header, new line detected at ...."
In some join requests, users get stuck with the following error. What's going on? Could you help me?

[code]

[2021-10-02 17:28] cod3r0k opened #158 "Upload file during the active meeting"
How can we upload using bigbluebutton API to upload files during a created session?

[2021-10-09 09:29] Entretoize opened #159 "404 error on /bigbluebutton/api/create"
Everything was working, but after a certicate expiration, I had to update bbb and ubuntu and now nothing works, when I try to start a conference I receive that errors:

`Fatal error: Uncaught BigBlueButton\Exceptions\BadResponseException: Bad response, https://mydomain/bigbluebutton/api/create?name=confname&meetingID=confid&attendeePW=123456&moderatorPW=123456&logoutURL=https%3A%2F%2Fmydomain&reco

[2021-10-17 17:45] fran6t opened #160 "Since 2.4 meetingLayout exist"
Since 2.4 api authorize at creating meeting parameter meetingLayout with possible values CUSTOM_LAYOUT, SMART_LAYOUT, PRESENTATION_FOCUS, VIDEO_FOCUS

I have try in my code php
$create->meetingLayout('VIDEO_FOCUS');

At execution i have error
Fatal error: Uncaught Error: Call to undefined methos BigBlueButton\Parameters\CreateMeetingParameters::meetingLayout()

Is my code wrong ? If not, is anybod

[2021-11-19 15:16] TysonOsore commented on #12
Hello, am getting same error.running the library on xampp

[2021-11-19 15:17] TysonOsore opened #161 "Unhandled curl error: Could not resolve host: api"
Fatal error: Uncaught RuntimeException: Unhandled curl error: Couldn't resolve host 'api' in /Applications/XAMPP/xamppfiles/htdocs/stream/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php:487 Stack trace: #0 /Applications/XAMPP/xamppfiles/htdocs/stream/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php(115): BigBlueButton\BigBlueButton->processXmlResponse('api/create?n

[2021-11-20 14:08] baumkirchner commented on #161
You need to set your BBB-servers **URL** and your BBB-servers **Secret** as _environment variables_ first.
`sudo bbb-conf --secret` on your BBB-server will display them for you.
[This discussion](https://stackoverflow.com/questions/8098927/nginx-variables-similar-to-setenv-in-apache) may help in setting them on your web server

[2021-12-11 18:21] kosar501 opened #162 "set Max Participants"
hey, when a meeting reaches participants limit, it gets redirected to a link ,
is there any way to customize that link?

[2021-12-17 07:29] GhaziTriki commented on #162
@kosar501 It is the `logoutURL`.

[2021-12-17 07:29] #162 closed

[2021-12-17 07:29] #161 closed

[2021-12-17 10:58] GhaziTriki commented on #159
@Entretoize Is your server endpoint reachable? It looks not.

[2021-12-17 10:58] #159 closed

[2021-12-17 11:00] GhaziTriki commented on #158
Hi @cod3r0k, this ticket is related to the BigBlueButton product not the the API client library. The forums are a good place to ask for that.

[2021-12-17 11:00] #158 closed

[2021-12-17 11:02] GhaziTriki commented on #151
@michaelchen001 This is a request for scalelite. With the API you can access the XML raw data and display it.

[2021-12-17 11:02] #151 closed

[2021-12-17 11:03] GhaziTriki commented on #160
@fran6t Can you please test the `dev` branch and let us know if it works?

[2021-12-17 11:04] GhaziTriki commented on #154
@Kaabi Thank you ! Merged into dev branch.

[2021-12-17 11:04] #154 closed

[2021-12-17 11:05] #150 closed

[2021-12-17 11:05] #98 closed

[2021-12-17 11:06] GhaziTriki commented on #143
@diable2010 It looks your API is not responding.

[2021-12-17 11:06] #143 closed

[2021-12-17 11:08] GhaziTriki opened #164 "Handle using role in join API starting from BigBlueButton 2.4"

[2021-12-17 11:09] GhaziTriki commented on #110
@toto4ds & @czange Can you please check the dev branch?

[2021-12-17 11:10] GhaziTriki commented on #153
@kaystrobach Can you please check the dev branch?

[2021-12-17 11:10] GhaziTriki commented on #157
@cod3r0k Do you still have the filed issue?

[2021-12-17 11:11] #132 closed

[2021-12-17 11:13] #145 closed

[2021-12-17 11:15] GhaziTriki opened #165 "Add the possiblity to change the API URL for custom implementation"
`/bigbluebutton` should be configurable for load balancers and custom nginx rerouting

[2021-12-17 11:20] kaystrobach commented on #153
pinned it for next week. thank you

[2021-12-17 11:23] GhaziTriki opened #166 "Add getSessions API"
https://github.com/bigbluebutton/bigbluebutton/blob/v3.0.x-release/bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy#L704

[2021-12-17 11:24] GhaziTriki opened #167 "Add learningDashboard API"
https://github.com/bigbluebutton/bigbluebutton/blob/v3.0.x-release/bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy#L1317

[2021-12-17 11:24] GhaziTriki opened #168 "Add setPollXML API"

[2021-12-17 11:25] GhaziTriki opened #169 "Add guestWait API"
https://github.com/bigbluebutton/bigbluebutton/blob/v3.0.x-release/bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy#L759

[2021-12-17 16:35] GhaziTriki commented on #144
@wb7 Can you please test the dev branch?

[2021-12-28 19:46] kaystrobach commented on #153
Works ™️ - thank you

[2021-12-29 14:05] GhaziTriki commented on #153
Thank you @kaystrobach

[2021-12-29 14:05] #153 closed

[2021-12-29 14:44] GhaziTriki commented on #144
Implemented in https://github.com/bigbluebutton/bigbluebutton-api-php/releases/tag/2.1.0

[2021-12-29 14:44] #144 closed

[2021-12-29 14:44] GhaziTriki commented on #160
Implemented in https://github.com/bigbluebutton/bigbluebutton-api-php/releases/tag/2.1.0

[2021-12-29 14:44] #160 closed

[2022-01-03 19:26] kosar501 commented on #101
same problem

[2022-01-24 14:33] malakhi81 opened #172 "API call create KO, wrong parameter `breakoutRoomsPrivateChatEnabled(`"
In BigBlueButton\Parameters\CreateMeetingParameters::getHTTPQuery

this line break the call create

[code]
It must be without the parenthesis
[code]

[2022-01-24 15:19] michaelCenef commented on #172
I've created a PR on a fork for this
https://github.com/bigbluebutton/bigbluebutton-api-php/pull/173/files

[2022-01-24 15:54] #172 closed

[2022-04-11 05:58] #116 closed

[2022-05-04 19:36] peinwag opened #177 "API password is deprecated, phased out in 2.6 of BBB"
According to bigbluebutton/bigbluebutton#14962 the `attendeePW` and `moderatorPW`are being deprecated / phased out in 2.6 and are optional as of 2.4.

As this is somehow a breaking change at least for 2.6 it should be considered.

[2022-05-27 13:28] aunglynn550 commented on #157
i got exactly the same error still can't solve

[2022-06-12 08:09] tamkeen-tms opened #178 "Is there anyway to get the total size of the a meeting recording?"
I am looking for a way to fetch or calculate the file size of a meeting's recording. I have looked into the /[getRecordings ](https://docs.bigbluebutton.org/dev/api.html#getrecordings)endpoint, but nothing there about storage or size.

[2022-06-12 20:44] tamkeen-tms commented on #178
Looking at the BBB repo, I found this pull request from 2018:
https://github.com/bigbluebutton/bigbluebutton/pull/6351

There are 3 "size" values, all in bytes. The first "size" is the total size of the recording directory, the "rawSize" is the size of the raw recording file. The final "size" value is a property for each playback item.

These values are not accessible through the \Core\Record clas

[2022-06-14 11:20] GhaziTriki commented on #147
Formats should be an array too.

[2022-06-15 22:21] GhaziTriki commented on #147
@omsrivastava Thanks for spotting it. It is now implemented `$record->images()`

[2022-06-15 22:21] #147 closed

[2022-06-15 22:21] GhaziTriki commented on #178
@tamkeen-tms You can get the size of all recording formats.

[2022-06-15 22:21] #178 closed

[2022-06-15 22:34] GhaziTriki commented on #146
Updated in https://github.com/bigbluebutton/bigbluebutton-api-php/commit/5912586b182a2919d7ddbc712489d9d3d728bd4f

[2022-06-15 22:34] #146 closed

[2022-06-15 22:35] GhaziTriki opened #180 "Update 2.5 create params"
Updated in 2.5:

create - Added: meetingCameraCap, groups, disabledFeatures, meetingExpireIfNoUserJoinedInMinutes, meetingExpireWhenLastUserLeftInMinutes, preUploadedPresentationOverrideDefault; Deprecated: learningDashboardEnabled, breakoutRoomsEnabled, virtualBackgroundsDisabled.

[2022-06-15 22:35] GhaziTriki opened #181 "Implement insertDocument API"
Introduced in 2.5

[2022-06-15 22:39] GhaziTriki commented on #109
Sure check the create API docs https://docs.bigbluebutton.org/dev/api.html#create

[2022-06-15 22:39] #109 closed

[2022-07-07 10:04] brijeshbchavda opened #182 "gettin Bad response, HTTP code: 404"
bigblueButton always getting 404 in all API why?

[2022-07-15 08:27] globenewmedia opened #183 "When the API URL is incorrect that will lead to an uncaught PHP Exception"
BigBlueButton\Exceptions\BadResponseException: Bad response, HTTP code: 404 in BigBlueButton\BigBlueButton->processXmlResponse() (line 485 of /var/www/example/vendor/bigbluebutton/bigbluebutton-api-php/src/BigBlueButton.php).

[code]

PHP message: Uncaught PHP Exception BigBlueButton\Exceptions\BadResponseException

[2022-07-29 11:58] MWWorks opened #184 "Latest commit has lost some parameters"
I'm looking at src/Parameters/CreateMeetingParameters.php - between 2 commits on 17 June, somehow many parameters have gone? learningDashboardEnabled and breakoutRoomsEnabled are deprecated but the others still seem valid parameters in 2.5:

[code]

[2022-08-03 06:18] soheil-b98 opened #185 "CreateMeetingParameters() not found"
i use the sample code but this method not found...
**sample code**

**error**

[2022-08-03 06:22] soheil-b98 commented on #185
In addition to use `use BigBlueButton/BigBlueButton` , you should also use `use BigBlueButton\Parameters\CreateMeetingParameters'

[2022-08-03 16:32] Entretoize opened #186 "Is there a way to get webcam stream to display on a webpage ?"
Hello, I would need to display the user webcams on a webpage.
Is it possible to get the streams and display them ?

Thanks in advance

[2022-09-13 20:15] #185 closed

[2022-09-13 20:19] GhaziTriki commented on #184
Hi @MWWorks Could you kindly check the "master" branch now. "master" is not used for release in this project.

[2022-10-16 20:59] xJuvi commented on #183
hi there,
that's no bug. You must catch the "BadResponseException" in your code. If you doesn't catch the exception, it's an uncaught exception. That is the error.

Kind regards.

[2022-11-10 09:30] Ahmadgoma opened #191 "How to create parameters meta_analytics-callback-url"
I need to create `meta_analytics-callback-url` and pass callback url, But there is no set parameters in `CreateMeetingParameters` class.